.second_upside_middle {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.second_upside_middle .logo {
    position: absolute;
    float: left;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

#search {
    overflow: hidden;
    display: block;
    float: right;
}

.search1 {
    width: 320px;
    padding-left: 18px;
    padding-right: 10px;
    line-height: 32px !important;
    font-size: 12px;
    color: #6f6f6f;
    display: block;
    float: left;
    border: 2px solid plum;
    box-shadow: 0 2px;
}

.search_input {
    display: block;
    padding-top: 40px;
    float: left;
    margin-left: 60px;
}

#search_form {
    display: inline;
    width: 500px;
    float: left;

}

.search_submit {
    display: block;
    float: left;
    width: 80px;
    height: 37px;
    cursor: pointer;
    background: transparent url("../../image/shopping/soubg.jpg") no-repeat center center;
    cursor: pointer;
}

.search_details {
    color: #999;
    float: left;
    font-size: 12px;
    margin-top: 30px;
    margin-left: 60px;
}

.search_details span {
    margin: 0 5px;
}

.search_details a {
    color: gray;
}

.contact_info_box {
    float: left;
    margin-top: 25px;
    margin-left: 70px;
    padding-right: 10px;
    width: 400px;
    display: inline-block;
    overflow: hidden;
}

.phone_desc {
    font-size: 14px;
    color: #b8b8b8;
    line-height: 22px;
}

.telephone {
    color: #616060;
    font-size: 22px;
    font-weight: bold;
}

.phone {
    background: url("../../image/shopping/tel.gif") no-repeat left center;
    padding: 10px 0 10px 55px;
    float: left;
    overflow: hidden;
    margin-right: 35px;
}

.contact_info_box .tele_logo {
    width: 45px;
    height: 45px;
    display: inline-block;
    float: left;
}

.contact_info_box .wechat_logo {
    width: 85px;
    height: 85px;
    float: right;
    margin-top: 5px;
    margin-right: 20px;
    display: inline-block;
}

/*the following is for the product viewing*/
.product_list_title {
    width: 1050px;
    background-color: rgba(0,0,0,0.2);
    box-shadow: 2px 2px #876fd5;
    margin-left: 185px;
    padding: 20px;
    margin-top: -65px;
    color: #ffffff;
}

.product_display {
	display: block;
	margin: 15px auto;
	width: 250px;
	height: 230px;
	overflow: hidden;
}

.product_container {
	display: block;
    background-color: #f3f5f7;
	padding-left: 5px;
	overflow: hidden;
    width: 1085px;
}

.product_container dd {
    background-color: #f3f5f7;
	display: block;
	float: left;
	width: 280px;
	border: 1px solid #f1f1f1;
	margin-top: -1px;
	margin-left: -1px;
	padding: 15px;
}

.product_container dd:hover .product_display img {
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	/* IE 9 */
	-webkit-transform: scale(1.1);
	/* Safari 和 Chrome */
	-o-transform: scale(1.1);
	/* Opera */
	-moz-transform: scale(1.1);
}

.product_container dd {
	display: block;
	float: left;
	width: 239px;
	border: 1px solid #f1f1f1;
	margin-top: -5px;
	margin-left: -1px;
	padding: 15px;
}

.buy {
	display: block;
	float: right;
	width: 68px;
	height: 26px;
	overflow: hidden;
	background: #e0127c;
	text-align: center;
	color: #FFF;
	font-size: 12px;
	line-height: 26px;
}

.buy span {
	display: block;
	position: relative;
	top: 0;
	color: #FFF;
}

.buy:hover span {
	top: -100%;
}

/*the div which contains the product list*/
.product_list {
    width: 1150px;
    margin: 0 auto;
}

.product_list_title_h1 {
    text-align: center;

}

/*the divider between the product_list_title and the product_list_display*/
.divider {
    color: #9bceea;
    font-weight: bold;
    margin-top: 6px;
    margin-bottom: 6px;
    width: 1090px;
    margin-left: 185px;
}