{% extends "/base/base.html" %}

{#{% block nav %}#}
{#    <ul>#}
{#        <li><a  href="/">Home</a></li>#}
{#        <li><a href="/item/add">Add</a></li>#}
{#        <li><a class="active" href="/about">About</a></li>#}
{#        <li><a  href="/login">Login</a></li>#}
{#        {% if current_user.is_authenticated %}#}
{#            <li><a href="/userinfo">Hello, {{ current_user.username }}</a></li>#}
{#            <li><a href="/logout">logout</a></li>#}
{#        {% else %}#}
{#        {% endif %}#}
{#    </ul>#}
{#{% endblock %}#}
{% block style %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/about/about.css') }}">
{% endblock %}


{% block content %}
    <div class="add-item-big-box">
        <div id="add-item-box">
            <p class="add-item-box-head"> Seller </p>
            <h1>Modify Items</h1>
            <!-- cards are divided into three main pieces
    The outermost about-card-box-description
    A large piece of about-card-box-decoration
    A flat cylinder about-card-box-decoration-column and about-card-box-decoration-column1 -->
            <div class="about-card-box">
                <div class="about-card-box-description">
                    <a href="#">Online Shopping</a>
                    <h2>Team 20</h2></br></br>
                    <span>COMP3019J</br></br>Wang Yuyang (19206226)<br/></br>Yang Liuxin (19206207)</span>
                </div>
                <div class="about-card-box-decoration">
                    <!-- --i is used to calculate the dynamic delay and distance of the planar cylinder
                    --w is used to calculate the width of the plane cylinder -->
                    <div class="about-card-box-decoration-column" style="--i:1;--w:1.5"></div>
                    <div class="about-card-box-decoration-column" style="--i:2;--w:1.6"></div>
                    <div class="about-card-box-decoration-column" style="--i:3;--w:1.4"></div>
                    <div class="about-card-box-decoration-column" style="--i:4;--w:1.7"></div>
                    <div class="about-card-box-decoration-column1" style="--i:1"></div>
                </div>
                <!-- set image -->
                <div class="about-card-box-decoration-image"></div>
            </div>

        </div>
    </div>

    {#    <ul>#}
    {#        <li><a  href="/">Home</a></li>#}
    {#        <li><a href="/item/add">Add</a></li>#}
    {#        <li><a class="active" href="/about">About</a></li>#}
    {#        <li><a  href="/login">Login</a></li>#}
    {#        {% if current_user.is_authenticated %}#}
    {#            <li><a href="/userinfo">Hello, {{ current_user.username }}</a></li>#}
    {#            <li><a href="/logout">logout</a></li>#}
    {#        {% else %}#}
    {#        {% endif %}#}
    {#    </ul>#}
    {#<div class="container">#}
    {#    <h1 class="mt-5">About</h1>#}
    {#    <div class="row">#}
    {#        <p class="lead">#}
    {##}
    {#        </p>#}
    {#    </div>#}
    {#</div>#}

{% endblock %}