/*
    layout ideas are partly from the following reference, but codes are written by ourself:
    https://www.bilibili.com/video/BV1SK4y1T7rE/?spm_id_from=333.788.recommend_more_video.15
 */

body {
    display: flex;
    /*justify-content: center;*/
    /*background-image: url("../../image/shopping/background.png");*/
}

.about {
    position: relative;
    width: 700px;
    height: 400px;
    border: #f3eeee 11px solid;
    background-color: #d979c5;
    top: 120px;
    border-radius: 45px;
    overflow: hidden;
}

.about-description {
    position: absolute;
    left: 0;
    margin: 75px 70px;
    transition: .7s;
}

.about-description a {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

.about-description .name {
    /* The animation when the mouse is released, the first value is the transition time of the animation
    The second value is the delay of one second to execute the animation */
    transition: .3s .8s;
    opacity: 0;
    color: #1ED2C8FF;
}

.about-description span {
    transition: .5s 1s;
    color: lightgoldenrodyellow;
    font-weight: bold;
    position: absolute;
    top: 70px;
}

.about-decoration {
    position: absolute;
    top: -80px;
    right: -260px;
}

.about-decoration-common-column, .about-decoration-column1 {
    position: absolute;
    width: calc(var(--w) * 45px);
    height: 450px;
    right: calc(var(--i) * 107px);
    background: #F0DC96FF;
    transition: .3s .3s;
    transform: rotateZ(219deg) translate(0, 0);
    border-radius: 111px;
    overflow: hidden;
}

.about-decoration-common-column:nth-child(2) {
    background: #F0BEE6FF
}

.about-decoration-column1 {
    width: 65px;
    right: 420px;
    top: -150px;
    background-color: #7be5ac;
}

.about:hover .about-decoration div {
    /* set the delay animation */
    transition: .5s calc(var(--i) * .1s);
    /* the trajectory of motion */
    transform: rotateZ(210deg) translate(-211px, 411px);
}

.about:hover .about-description {
    transition: .7s .2s;
    left: 370px;
}

.about:hover .about-description span {
    transition: .7s .2s;
    top: 106px;
}

.about:hover .about-description h2 {
    transition: .7s .2s;
    opacity: 1;
}

.about-decoration-image {
    width: 248px;
    height: 248px;
    position: absolute;
    background-image: url("../../image/shopping/img_4.png");
    background-size: cover;
    margin: 70px;
    opacity: 0;
    transition: .5s;
}

.about:hover .about-decoration-image {
    transition: 0.5s .7s;
    opacity: 1;
}

.add-item-big-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}


a {
    text-decoration: none;
}