{% extends "/base/base.html" %}
{% block title %}
    Login and Register
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/login/login_register.css') }}">
{% endblock %}

{% block js %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="login-inner_box">
            <div class="login-move_box">
                <!-- register -->
                <div class="sign_up login-hidden">
                    <h1>Register</h1>
                    <form class="" autocomplete="off" method="POST" action="">
                        {{ register_from.csrf_token }}
                        <div class="login-input_area">

                            {{ register_from.username(class="login-input-text",placeholder="") }}
                            {{ register_from.username.label }}
                        </div>
                        <div class="login-input_area">

                            {{ register_from.email(class="login-input-text",placeholder="") }}
                            {{ register_from.email.label }}
                        </div>
                        <div class="login-input_area">

                            {{ register_from.password(class="login-input-text",placeholder="") }}
                            {{ register_from.password.label }}
                        </div>
                        <div class="login-input_area">

                            {{ register_from.confirm(class="login-input-text",placeholder="") }}
                            {{ register_from.confirm.label }}
                        </div>
                        {{ register_from.submit_register(class="login-input-text") }}
                    </form>
                </div>

                <!-- login -->
                <div class="sign_in">
                    <h1>Sign In</h1>
                    <form class="login-more-padding" autocomplete="off" method="POST" action="">
                        {{ login_form.csrf_token }}
                        <div class="login-input_area">
                            {{ login_form.username(class="login-input-text",placeholder="") }}
                            {{ login_form.username.label }}
                        </div>
                        <div class="login-input_area">
                            {{ login_form.password(class="login-input-text",placeholder="") }}
                            {{ login_form.password.label }}
                        </div>
                        <div class="checkbox">
                            <input class = "login-input-text" type="checkbox" id="remember"/>
                            <label for="remember">Remember Me</label>
                        </div>
                        {{ login_form.submit_login(class_="login-submit-button") }}
                    </form>
                </div>
            </div>

            <div class="login-left">
                <h2 class="login-title"><span>WElCOME</span>&nbsp;To<br>Shopping</h2>
                <p class="login-advertise">Choose your favorite <span>Item</span></p>
                <img class="flower smaller"
                     src="{{ url_for('static',filename='image/login/webp.webp') }}"/>
                <p class="login-account">Have an account?</p>
                <button class="index-banner-button" id="sign_in">Login</button>
            </div>

            <div class="login-right">
                <h2 class="login-title"><span>WElCOME</span>&nbsp;To<br>Shopping</h2>
                <p class="login-advertise">Choose your favorite <span>Item</span></p>
                <img class="flower"
                     src="{{ url_for('static',filename='image/login/webp.webp') }}"/>
                <p class="login-account">Don't have an account?</p>
                <button class="index-banner-button" id="sign_up">Sign Up</button>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    {% include '/base/footer.html' %}
{% endblock %}

{% block jsfoot %}
    <script src="{{ url_for('static',filename='js/login/script.js') }}"></script>
{% endblock %}
