{% extends "/base/base.html" %}
{% block title %}
    Login and Register
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/login/login_register.css') }}">
{% endblock %}

{% block js %}
{% endblock %}

{#this is the page for users (sellers and buyers) to login and register#}

{% block content %}
    
{% endblock %}
{% block footer %}
    {% include '/base/footer.html' %}
{% endblock %}

{% block jsfoot %}
    <script src="{{ url_for('static',filename='js/login/script.js') }}"></script>
{% endblock %}
