{#this html is not actually used because we cannot import the third part library: email to do password retrieve confirmation#}

{% extends "/base/base.html" %}
{% block title %}
    Login and Register
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/login/login_register.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/login/restore_password.css') }}">
{% endblock %}

{% block js %}
{% endblock %}

{#this is the page used for users to retrieve their passwords#}

{% block content %}
    <div class="container">
        <h1>
            Reset Password
        </h1>
        <div>
            <form>
                <div class="login-input_area">
                    <input type="text" class="login-input-text" placeholder="">
                    <label for="">Username</label>
                </div>
                <div class="login-input_area">
                    <input type="text" class="login-input-text" placeholder="">
                    <label for="">Password</label>
                </div>
                <div class="login-input_area">
                    <input type="text" class="login-input-text" placeholder="">
                    <label for="">Confirm Password</label>
                </div>
                <div class="login-input_area">
                    <input type="text" class="login-input-text" placeholder="">
                    <label for="">Email Address</label>
                </div>
            </form>
        </div>
    </div>


{% endblock %}
{% block footer %}
    {% include '/base/footer.html' %}
{% endblock %}

{% block jsfoot %}
    <script src="{{ url_for('static',filename='js/login/script.js') }}"></script>
    <script src="{{ url_for('static',filename='js/login/restore_password.js') }}"></script>
{% endblock %}
