{% extends "/base/base.html" %}
{% block title %}
    Login and Register
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/login/login_register.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/login/restore_password.css') }}">
{% endblock %}

{% block js %}
{% endblock %}

{#this is the page for users (sellers and buyers) to login and register#}

{% block content %}
    <div class="container">
        <h1>
            Reset Password
        </h1>
        <div class="login-input_area">
            <input type="text" class="login-input-text" placeholder="">
            <label for="">dddd</label>
        </div>
        <div class="login-input_area">
            <input type="text" class="login-input-text" placeholder="">
            <label for="">dddd</label>
        </div>
        <div class="login-input_area">
            <input type="text" class="login-input-text" placeholder="">
            <label for="">dddd</label>
        </div>
        <div class="login-input_area">
            <input type="text" class="login-input-text" placeholder="">
            <label for="">dddd</label>
        </div>
    </div>


{% endblock %}
{% block footer %}
    {% include '/base/footer.html' %}
{% endblock %}

{% block jsfoot %}
    <script src="{{ url_for('static',filename='js/login/script.js') }}"></script>
    <script src="{{ url_for('static',filename='js/login/restore_password.js') }}"></script>
{% endblock %}
