<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0"/>
    <meta
            name="description"
            content="{% block meta_description %}{% endblock %}"
    />
    <meta name="author" content="{% block meta_author %}{% endblock %}"/>
    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width"/>

    <link rel="stylesheet" href="{{ url_for('static',filename='css/base/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/base/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/base/new_navbar.css') }}">

    <script type="application/javascript" src="{{ url_for('static',filename='js/jquery-3.6.0.js') }}"></script>
    <script src="{{ url_for('static',filename='js/navigation.js') }}"></script>

    {% block script %}
    {% endblock %}
    {% block css %}
    {% endblock %}
    {% block meta %}
    {% endblock %}
    {% block js %}
    {% endblock %}
    {% block style %}
    {% endblock %}

    <title>
        {% block title %}
            no title
        {% endblock %}
    </title>
</head>

<body>

<div class="background-image">
    <div class="background-image-loading-container">
        <div class="g-container">
            <div class="g-first"></div>
            <div class="g-ball1"></div>
            <div class="g-ball2"></div>
            <div class="g-ball3"></div>
            <div class="g-ball4"></div>
            <div class="g-ball5"></div>
            <div class="g-ball6"></div>
            <div class="g-ball7"></div>
        </div>
    </div>
</div>

<header>
    <main role="main">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
            <div class="base-message-box">
                {% for category, message in messages %}
                    <div class="alert-{{ category }}" id="message_content">
                        <a class="base-message-close-icon" title="Close" href="#" onclick="HideMessage()">X</a>
                        {{ message }}
                    </div>
                    <!-- end .alert -->
                {% endfor %}
            </div>
            <!-- end row -->
        {% endif %} {% endwith %}
    </main>
    <nav>
        {% block nav %}
            <div class="nav-container-box">
                <a class="nav-main-text" href="{{ url_for("index.home") }}">&nbsp;Welcome to Online Shopping Site</a>
                <ul class="nav-right-bar">
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for("user.info") }}">Hello, {{ current_user.username }}</a></li>
                        <li>|</li>

                        {% if current_user.is_shopper %}
                            <li class="nav-title_shopping_cart">
                                &nbsp;&nbsp;&nbsp;<a href="{{ url_for("item.ManageItem") }}">Manage Items</a>
                            </li>
                            <li>|</li>
                            <li class="nav-title_shopping_cart">
                                <a href="{{ url_for("order.view_order") }}">
                                    Manage Order</a>
                            </li>
                        {% else %}

                            <li class="nav-title_shopping_cart">
                                <a href="{{ url_for("cart.shopping_cart") }}">
                                    Shopping Cart</a>
                            </li>
                            <li>|</li>
                            <li class="nav-title_shopping_cart">
                                {#                            &nbsp;&nbsp;&nbsp;#}
                                <a href="{{ url_for("order.view_order") }}">
                                    View Order</a>
                            </li>
                        {% endif %}
                        <li>|</li>
                        <li><a href="{{ url_for("user.logout") }}">Logout</a></li>

                    {% else %}
                        <li class="login">
                            <a href="{{ url_for("login.login") }}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>

        {% endblock %}
    </nav>
    {% block header %}{% endblock %}

</header>
{% block body %}

    <div class="content-body">
    <script>
        document.getElementsByClassName("content-body")[0].hidden = true;
    </script>
    <canvas class="fireworks" width="839" height="393" style="width: 839px; height: 393px;"></canvas>
    <section id="container">
        {% block content %}
        {% endblock %}
    </section>


    {% block jsfoot %}
    {% endblock %}
    <script src="{{ url_for('static',filename='js/base.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static',filename='js/fireworks.js') }}"></script>


    {% block footer %}
        {% include '/base/footer.html' %}
    {% endblock %}

{% endblock %}
</div>
</body>

</html>
