{# this is the footer which will be extended by other pages #}

<footer class="footer-bar">
    <ul class="footer-item-list">
        <li><a href="{{ url_for('index.about') }}">About</a></li>
        <li><a href="mailto:yuyang.wang@ucdconnect.ie">Contact</a></li>
{#        <li>#}
{#            <button onclick="darkMode(0.5)">Dark Mode</button>#}
{#        </li>#}
{#        <li>#}
{#            <button onclick="darkMode(0)">Bright Mode</button>#}
{#        </li>#}
        <li>
            <input type="checkbox" id="switchTheme" class="switch-theme" onclick="chooseTheme()"/>
            <label for="switchTheme" class="switch-icon">
                <span></span>
            </label>
        </li>
    </ul>
</footer>