{# this is the footer which will be extended by other pages #}

<footer class="footer-bar">
    <ul class="footer-item-list">
        <li><a href="{{ url_for('index.about') }}">About</a></li>
        <li><a href="mailto:yuyang.wang@ucdconnect.ie">Contact</a></li>
        <li>
            <button onclick="darkMode(0.5)">Dark Mode</button>
        </li>
        <li>
            <button onclick="darkMode(0)">Bright Mode</button>
        </li>
        <li>
            <input type="checkbox" id="themeSwitch" name="theme-switch" class="theme-switch__input"
                   onclick="darkMode(0.5)"/>
            <label for="themeSwitch" class="theme-switch__label">
                <span></span>
            </label>
        </li>
{#        <input type="checkbox" id="themeSwitch" name="theme-switch" class="theme-switch__input"#}
{#               onclick="darkMode(0.5)"/>#}
{#        <label for="themeSwitch" class="theme-switch__label">#}
{#            <span></span>#}
{#        </label>#}
    </ul>
</footer>