<!doctype html>
<html>
<head>
<title>图片轮播</title>
<link rel="stylesheet" href="assets/css/amazeui.min.css">
    <style>
        body .am-slider .img image {
            width: 10%;
            height: 10%;
        }
    </style>
</head>
<body>
<div class="am-slider am-slider-default recommendation-div" data-am-flexslider="{playAfterPaused: 8000}">
  <ul class="am-slides">
    <li class="img"><img src="../../static/image/shopping/1.jpg" style="width: 500px; margin: auto"/></li>
    <li class="img"><img src="../../static/image/shopping/1.jpg" style="width: 500px; margin: auto"/></li>
    <li class="img"><img src="../../static/image/shopping/1.jpg" style="width: 500px; margin: auto"/></li>
    <li class="img"><img src="../../static/image/shopping/1.jpg" style="width: 500px; margin: auto"/></li>
  </ul>
</div>
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="assets/ie8/jquery.min.js"></script>
<script src="assets/ie8/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="assets/js/amazeui.min.js"></script>
<script>
$('#your-slider').flexslider({
  playAfterPaused: 8000,
  before: function(slider) {
    if (slider._pausedTimer) {
      window.clearTimeout(slider._pausedTimer);
      slider._pausedTimer = null;
    }
  },
  after: function(slider) {
    var pauseTime = slider.vars.playAfterPaused;
    if (pauseTime && !isNaN(pauseTime) && !slider.playing) {
      if (!slider.manualPause && !slider.manualPlay && !slider.stopped) {
        slider._pausedTimer = window.setTimeout(function() {
          slider.play();
        }, pauseTime);
      }
    }
  }
  // 设置其他参数
});
</script>
</body>
</html>