{% extends "/base/base.html" %}
{% block title %}
    Add new Item
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="../../static/css/item/add.css">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Add a new item</h1>
        <form action="" method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="login-input_area">
                {{ form.userid.label }}
                {{ form.userid }}

                <br>

                {{ form.item_name.label }}
                {{ form.item_name }}

                <br>

                {{ form.item_price.label }}
                {{ form.item_price }}

                <br>

                {{ form.inventory.label }}
                {{ form.inventory }}

                <br>

                {{ form.description.label }}
                {{ form.description }}

                <br>

                {{ form.main_image_file.label }}
                {{ form.main_image_file }}

                <br>

                {{ form.add_button }}

                <br>


            </div>
        </form>


    </div>
    <div id="add-item-box">
        <p class="add-item-box-head"> Seller </p>
        <h1>Add Items</h1>
        <br>
        <table class="add-item-box-table">
            {#    <tfoot>#}
            {#      <tr>#}
            {#        <th scope="row">This is the foot area</th>#}
            {#        <td>dddd</td>#}
            {#      </tr>#}
            {#    </tfoot>#}
            <tbody>
            <tr>
                <th>User ID</th>
                <td>dddd</td>
            </tr>
            <tr>
                <th>Item Name</th>
                <td>dddd</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>Unlimited</td>
            </tr>
            <tr>
                <th>Inventory</th>
                <td>ddddd</td>
            </tr>
            <tr>
                <th>Item Description</th>
                <td>Unlimited</td>
            </tr>
            <tr>
                <th>Upload Image</th>
                <td>Unlimited</td>
            </tr>
            </tbody>
        </table>

    </div>

{% endblock %}