{% extends "/base/base.html" %}

{% block title %}
    Manage all your items
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="../../static/css/item/manage.css">
    <link rel="stylesheet" href="../../static/css/shopping/shopping_cart.css">
{% endblock %}

{# this is the page for sellers to manage items #}
{#contains the link to add, modify and remove items#}

{% block content %}

    <div class="shopping-cart-big-box">
        <div id="shopping-cart-box">
            <p class="shopping-cart-box-head"> Seller </p>
            <h1>Manage My Items</h1>
            <div class="empty-space1"></div>
            {#            if the seller does not have any to sell#}
            {% if itemsLength == 0 %}
                <h1 class="h2">You Have Not Owned Any Items to Sell</h1>
                <div class="empty-space1"></div>
                <button class="button-default">
                    <a href="{{ url_for("item.addNewItem") }}">Click here to add new item</a>
                </button>
                {#                if the seller has items to sell#}
            {% else %}
                <h1 class="h2">Display & Remove & Modify & Add</h1>
                <div class="empty-space1"></div>
                <table class="manage-items-box-table" id="manage-items-box-table-data">
                    <thead>
                    <tr>
                        <th class="cancel-column">Select All</th>
                        <th class="index-item-image-box">Image</th>
                        <th>Price</th>
                        <th class="number-margin">Inventory</th>
                        <th>Sold Count</th>
                        <th class="cancel-column">Modify</th>
                        <th class="cancel-column">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {#                    loop through items of items and display them in the table#}
                    {% for item in items %}
                        <tr>
                            <th class="cancel-column"><input type="checkbox" checked="checked"></th>
                            {#                            item image#}
                            <td class="index-item-image-box"><a
                                    href="{{ url_for("item.details", itemID=item.id) }}"><img
                                    class="index-item-image"
                                    src="{{ url_for('static', filename='uploaded_files/'+item.main_image_url) }}"
                                    value="Item Image"></a>
                            </td>
                            {#                            item price#}
                            <td>{{ item.price }}</td>
                            {#                            item inventory#}
                            <td class="sub-add-button">
                                {{ item.inventory }}
                            </td>
                            {#                            number of sold #}
                            <td>{{ item.sold_count }}</td>
                            {#                            link to modify#}
                            <td>
                                <a href="{{ url_for("item.ModifyNewItem",item_id=item.id) }}">
                                    <div class="manage-items-modify">
                                        Modify
                                    </div>
                                </a>
                            </td>
                            {#                            link to delete#}
                            <td>
                                <a id="remove-item-button-{{ item.id }}">
                                    <div class="manage-items-modify incorrect">
                                        Delete
                                    </div>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="7"></td>
                    </tr>
                    <tr id="add-empty-space">
                        <th colspan="7" id="padding-add-new">
                            <a href="{{ url_for("item.addNewItem") }}" id="add-new">
                                Add New Item
                            </a>
                        </th>
                    </tr>
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block jsfoot %}
    <script src="{{ url_for('static',filename='js/item/manage.js') }}"></script>
{% endblock %}