{% extends "/base/base.html" %}

{% block title %}
    Shopping
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="../../static/css/item/manage.css">
    <link rel="stylesheet" href="../../static/css/shopping/shopping_cart.css">
{% endblock %}

{% block content %}

    <div class="shopping-cart-big-box">
        <div id="shopping-cart-box">
            <p class="shopping-cart-box-head"> Seller </p>
            <h1>Manage My Items</h1>
            <br>
            <br>

            {% if itemsLength == 0 %}
                <h1 class="h2">You Have Not Owned Any Items to Sell</h1>
                <br>
                <br>
                <button class="button-default">
                    <a href="{{ url_for("item.addNewItem") }}">Click here to add new item</a>
                </button>
            {% else %}
                <h1 class="h2">Display & Remove & Modify & Add</h1>
                <br>
                <br>
                <table class="manage-items-box-table">
                    <thead>
                    <tr>
                        <th class="cancel-column">Select All</th>
                        <th class="index-item-image-box">Image</th>
                        <th>Price</th>
                        <th class="number-margin">Inventory</th>
                        <th>Total</th>
                        <th class="cancel-column">Modify</th>
                        <th class="cancel-column">Delete</th>
                        <th class="add-column">Add New Item</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in items %}
                        <tr>
                            <th class="cancel-column"><input type="checkbox" checked="checked"></th>
                            <td class="index-item-image-box"><a
                                    href="{{ url_for("item.details", itemID=item.id) }}"><img
                                    class="index-item-image"
                                    src="{{ url_for('static', filename='uploaded_files/'+item.main_image_url) }}"
                                    value="Item Image"></a>
                            </td>
                            <td>{{ item.price }}</td>
                            <td class="sub-add-button">
                                {{ item.price }}
                            </td>
                            <td>{{ item.price }}</td>
                            <td>
                                <a href="{{ url_for("item.ModifyNewItem",item_id=item.id) }}">
                                    <div class="manage-items-modify">
                                        Modify
                                    </div>
                                </a>
                            </td>
                            <td>
                                <a href="{{ url_for("item.DeleteItem",item_id=item.id) }}">
                                    <div class="manage-items-modify incorrect">
                                        Delete
                                    </div>
                                </a>
                            </td>
                            <td>
                                <a href="{{ url_for("item.addNewItem") }}">
                                    <div class="manage-items-modify">
                                        Add New Item
                                    </div>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>

{% endblock %}