*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
}
#container{
    margin: 20px;
    /*保证footer是相对于container位置绝对定位*/
    position:relative;
    width:100%;
    min-height:800px;
    /*设置padding-bottom值大于等于footer的height值，以保证main的内容能够全部显示出来而不被footer遮盖；*/
    padding-bottom: 100px;
    box-sizing: border-box;
}
