* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}
body{
    display:flex;
    flex-direction:column;
}
#container{
    display:flex;
    height:1200px;
    flex-direction:column;
}

/** universal style for 3d effects **/
* {
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}