/*this is the style for the dark mode*/
/*we use !important to replace the previous style*/

.background-image-dark {
    filter: invert(100%);
}

.index-item-text-dark {
    color: white;
}

.product-image-box-background-image-dark {
    filter: invert(100%) blur(60px) !important;
}

.product-box-dark {
    background: black !important;
}

.product-description-box-dark {

    background: black !important;
}

.number-input-dark {
    color: white !important;
    background: black !important;
}

.product-number-box-dark b, .product-des-dark {
    color: white !important;
    color: white !important;
}

.footer-item-list-dark li a {
    color: white !important;
    color: white !important;
}