.footer-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(115, 123, 123, 0.2);
    padding: 14px 16px;
    margin-top: 100px;
}

.footer-item-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
}

.footer-bar li a {
    color: #666;
    padding: 14px 16px;
    text-decoration: none;
}

.footer-bar li a:hover:not(.active) {
    background-color: #ddd;
}

.footer-bar li a.active {
    color: white;
    background-color: #4CAF50;
}