.nav-container-box {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(115, 123, 123, 0.2);
}

.nav-main-text {
    padding: 10px;
    text-decoration: none;
    font-size: 26px;
    font-weight: bold;
    font-style: italic;
    color: deeppink;
    float: left;
}
.nav-main-text:hover{
    transform: scale(1.1);
}

.nav-right-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.nav-right-bar li {
    margin: 10px;
}

.nav-right-bar li a {
    text-decoration: none;
    color: #c398e3;
    font-weight: bold;
}

.nav-right-bar li a:hover {
    color: orange;
    /*transform: rotateX(360deg);*/
}


.nav-right-bar li a:link {
    color: gray;
}

.nav-follow_us div {
    visibility: hidden;
}

.nav-follow_us {
    display: flex;
}

.for-javascript a {
    text-decoration: none;
    color: #ff1393;
    font-weight: bold;
    margin: 100px;
}