/*style for different sellers*/
.shopping-cart-big-box .shopping-cart-box-table #shopping-cart-seller th {
    text-shadow: 1px 1px 1px #568F23;
    background-color: #f3db0d;
    border: 1px solid #f4e139;
    border-right: 3px solid #ece499;
    padding: 5px 10px;
    background: -webkit-gradient(
            linear,
            left bottom,
            right top,
            color-stop(0.02, #E8D20FFF),
            color-stop(0.51, #F4E139FF),
            color-stop(0.87, #FCF092FF)
    );
    background: -moz-linear-gradient(
            left bottom,
            #E8D20FFF 2%,
            #F4E139FF 51%,
            #FCF092FF 87%
    );
    margin-top: 10px;
}

.manage-items-modify {
    padding: 5px;
    background-color: #efefef;
    color: #616060;
}

.manage-items-modify:hover {
    color: orange;
    border-color: #eddf4d;
}