.index-container {
    display: flex;
    flex-direction: column;
}

.index-upper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.index-logo-img {
    width: 200px;
}

.index-search-submit-button {
    width: 80px;
    height: 37px;
    cursor: pointer;
    background: transparent url("../../image/shopping/soubg.jpg") no-repeat center center;
    cursor: pointer;
}

.index-search-text {
    width: 320px;
    padding-left: 18px;
    padding-right: 10px;
    line-height: 32px;
    font-size: 12px;
    color: #6f6f6f;
    display: block;
    float: left;
    border: 2px solid plum;
    box-shadow: 0 2px;
}

.my-basket-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 40px;
    border: 3px solid #33b62a;
    background-color: #f1f1f1;
}

.index-basket-group {
    text-decoration: none;
}

.index-basket-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: green;
}

.index-basket-text {
    font-size: 16px;
    text-decoration: none;
    color: green;
}

/*.am-slider .am-slides {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-items: center;*/
/*    width: 800px;*/
/*    background-color: pink;*/
/*}*/

/*!* main_image *!*/
/*.main_visual {*/
/*	height: 400px;*/
/*	overflow: hidden;*/
/*	position: relative;*/
/*	top: 0;*/
/*	left: 0;*/
/*}*/

/*.main_image {*/
/*	height: 400px;*/
/*	overflow: hidden;*/
/*	position: relative;*/
/*}*/

/*.main_image ul {*/
/*	width: 9999px;*/
/*	height: 479px;*/
/*	overflow: hidden;*/
/*	position: absolute;*/
/*	top: 0;*/
/*	left: 0*/
/*}*/

/*.main_image li {*/
/*	float: left;*/
/*	width: 100%;*/
/*	height: 479px;*/
/*}*/

/*.main_image li a {*/
/*	display: block;*/
/*	width: 100%;*/
/*	height: 479px*/
/*}*/

/*#slider-wrapper {*/
/*	position: relative;*/
/*	z-index: 1;*/
/*}*/

/*.nivoSlider {*/
/*	position: relative;*/
/*}*/

/*.nivoSlider img {*/
/*	position: absolute;*/
/*	top: 0px;*/
/*	left: 0px;*/
/*}*/

/*.nivoSlider a.nivo-imageLink {*/
/*	position: absolute;*/
/*	top: 0px;*/
/*	left: 0px;*/
/*	width: 100%;*/
/*	height: 100%;*/
/*	border: 0;*/
/*	padding: 0;*/
/*	margin: 0;*/
/*	z-index: 60;*/
/*	display: none;*/
/*}*/

/*#slider .nivo-controlNav {*/
/*	position: absolute;*/
/*	bottom: 0px;*/
/*	text-align: center;*/
/*	z-index: 999;*/
/*	width: 100%;*/
/*}*/

/*#slider .nivo-controlNav a {*/
/*	z-index: 999;*/
/*	display: inline-block;*/
/*	cursor: pointer;*/
/*	width: 10px;*/
/*	height: 10px;*/
/*	margin: 0 3px;*/
/*	background-color: #f3efe9;*/
/*	text-indent: -9999em;*/
/*	border-radius: 50px;*/
/*}*/

/*#slider .nivo-controlNav a.active {*/
/*	font-weight: bold;*/
/*	background-color: #e01222;*/
/*}*/


.shell {
    /*margin-top: 20px;*/
    /*margin-bottom: 20px;*/
    width: 100%;
    height: 500px;
    position: relative;
    overflow-x: hidden;
    border-radius: 5px;
    border: 10px #fff;
    box-shadow: 20px 30px 20px rgba(0, 0, 0, 0.5);
}

.index-banner-images-box {
    width: 100%;
    height: 100%;
    display: block;
    /*display: flex;*/
    position: absolute;
    left: 0;
    transition: .2s;
}

.index-banner-image {
    width: 100%;
    height: 100%;
    top: 0;
    /*position: absolute;*/
    background-size: cover;
}

.index-banner-image:nth-child(1) {
    background-image: url("../../image/shopping/1.jpg");
}

.index-banner-image:nth-child(2) {
    background-image: url("../../image/shopping/2.jpg");
}

.index-banner-image:nth-child(3) {
    background-image: url("../../image/shopping/3.jpg");
}

.index-banner-min-images-box {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 20px;
    width: 40%;
    z-index: 999;
    right: 10%;
}

.index-banner-min-image {
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 50%;
    background-size: cover;
    border: solid rgba(255, 255, 255, 0.5) 5px;
    background-position: -20px 0;
}

.index-banner-min-image:nth-child(1) {
    background-image: url("../../image/shopping/1.jpg");
}

.index-banner-min-image:nth-child(2) {
    background-image: url("../../image/shopping/2.jpg");
}

.index-banner-min-image:nth-child(3) {
    background-image: url("../../image/shopping/3.jpg");
}

.index-banner-button {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    user-select: none;
}

.index-banner-button-left,
.index-banner-button-right {
    font-size: 50px;
    background-color: rgba(160, 193, 255, 0.7);
    padding: 0 20px;
    cursor: pointer;
    line-height: 500px;
}