.shopping-cart-big-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

#shopping-cart-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 70%;
    padding: 75px 120px;
    background: transparent;
    box-shadow: 1px 1px 16px #aaa;
    border-left: 30px solid #f4e139;
    border-right: 1px solid #ddd;
}

.shopping-cart-box-head {
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 4px;
    color: #888;
    border-bottom: 3px solid #f0f0f0;
    margin-bottom: 10px;
    padding: 10px;
}

#shopping-cart-box h1 {
    display: flex;
    align-items: flex-start;
    font-family: "Trebuchet MS", sans-serif;
    color: #f4e139;
    font-size: 57px;
}

#default-info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    text-space: 1px;
}

.add-item-box-table {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5em;
    border-collapse: separate;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.add-item-box-table th {
    padding: 17px;
    color: #fff;
    border-bottom: 3px solid #9ED929;
    border-radius: 5px;
    min-width: 28%;
    background: transparent;
    margin: 2px;
}

/*add gradient color effects*/
.add-item-box-table th {
    color: #fff;
    text-shadow: 1px 1px 1px #568F23;
    background-color: #9DD929;
    border: 1px solid #93CE37;
    border-right: 3px solid #9ED929;
    padding: 0px 10px;
    background: -webkit-gradient(
            linear,
            left bottom,
            right top,
            color-stop(0.05, #9ED929FF),
            color-stop(0.52, #8BC642FF),
            color-stop(0.88, #7BC043FF)
    );
    background: -moz-linear-gradient(
            left bottom,
            #9ED929FF 2%,
            #8BC642FF 51%,
            #7BC043FF 87%
    );
    border-radius: 5px 0 0px 5px;
}

.add-item-box-table tfoot th {
    color: #666;
}

.add-item-box-table tbody td {
    padding: 10px;
    text-align: center;
    background-color: #DEF3CA;
    border: 2px solid #e9f1e3;
    border-radius: 3px;
    color: #616060;
}

#empty {
    width: 80px;
    height: 100px;
}

.user-info-default {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#default_avatar img {
    width: 160px;
    height: 160px;
    border-radius: 160px;
}

.confirmed-by-shopper {
    color: #06b8d0;
    text-shadow: 0 1px 1px yellowgreen;
    font-weight: bold;
}

.not-confirmed-by-shopper {
    color: orangered;
    text-shadow: 0 1px 1px yellowgreen;
    font-weight: bold;
}

.confirm-delivered {
    color: #06d03f;
    text-shadow: 0 1px 1px greenyellow;
    font-weight: bold;
}

#shopping-cart-box .h2 {
    color: #06b8d0;
    font-size: 40px;
}