.shopping-cart-big-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

#shopping-cart-box {
    background-color: transparent;
    /*border-left: 30px solid #f4e139;*/
    border-right: 5px solid #ddd;
    border-top: 5px solid #ddd;
    border-bottom: 5px solid #ddd;
    box-shadow: 0px 0px 16px #aaa;
    border-radius: 12px;
    padding: 75px 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 70%;
}

.shopping-cart-box-head, .shopping-cart-box-head1 {
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 4px;
    color: #888;
    border-bottom: 3px solid #f0f0f0;
    margin-bottom: 10px;
    padding: 10px;
}

.shopping-cart-box-head1 {
    letter-spacing: 1px;
}

#shopping-cart-box h1 {
    display: flex;
    align-items: flex-start;
    font-family: "Trebuchet MS", sans-serif;
    color: #f4e139;
    font-style: normal;
    font-size: 56px;
    text-shadow: 1px 1px 1px #aaa;
}

.pay {
    margin-top: 20px;
    margin-bottom: 20px;
}

#shopping-cart-box #pay1 {
    color: #ecec80;
    font-size: 30px;
    margin-bottom: 18px;
}

#shopping-cart-box #color {
    color: #f85db1;
    margin-bottom: 18px;
}