.print-table {
    border-collapse: collapse;

}

#shopping-cart-box-print {
    background-color: transparent;
    padding: 75px 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 70%;
}

.print-info {
    margin-bottom: 20px;
}

.print-info1 {
    font-weight: bold;
}

.print-info2 {
   margin-left: 40%;
}

#print_cart {
    margin: 0 auto;
}