.print-table {
    width: 600px;
    border-collapse: collapse;

}

#shopping-cart-box-print {
    background-color: transparent;
    padding: 75px 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 70%;
}

.print-info {
    margin-bottom: 20px;
}

.print-info1 {
    font-weight: bold;
}

.print-info2 {
    margin-left: 40%;
}

#print_cart {
    margin: 0 auto;
}

.index-item-image {
    height: 30px;
    width: 30px;
}

.shopping-cart-big-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

table td, table th {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

/*table td:hover, table th:hover {*/
/*    border: 2px solid yellowgreen;*/
/*}*/