/*big container*/
.product-little-box {
    margin: 50px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    align-items: center;
    justify-content: space-around;
    border-radius: 12px;
    /*border: 5px solid #ddd;*/
}

.box {
    display: flex;
    overflow: initial;
}

.product-image-box {
    display: flex;
    width: 25%;
    /*background-color: rgba(0,0,0,0.1);*/
    padding: 50px;
}

.product-image {
    width: 100%;
    height: 100%;
}

.product-image:hover {
    transform: scale(1.1);
}

.product-details {
    display: flex;
    min-width: 40%;
    flex-direction: column;
}

.product-title {
    display: flex;
    justify-content: flex-start;
    font-size: 32px;
    font-weight: bold;
    color: #d73290;
}

.product-title:hover {
    color: orange;
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari and Chrome */
    -o-transform: scale(1.1);
    /* Opera */
    -moz-transform: scale(1.1);
}

.time-item {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
    margin-top: 15px;
    background-image: linear-gradient(to right, #ddeb3b, #03a9f4, #f441a5, #e7cecc);
    border-radius: 5px;
    color: #fff;
    line-height: 35px;
    text-align: right;
    font-size: 14px;
}

.time-item:hover {
    animation: anim 8s infinite;
}

.product-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #f6f6f6;
    /*border: 1px solid #dadada;*/
    margin-bottom: 15px;
    padding: 15px 25px;

}

.product-number-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 12px;
    line-height: 40px;
    font-size: 30px;
    color: #e01222;
}
.product-price-text{
        display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 12px;
    line-height: 40px;
    font-size: 30px;
    color: #e01222;
}

.product-information-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.product-number-box b, .product-des {
    color: #5f5e5e;
    font-size: 18px;
    font-weight: bold;
}

.product-inner-box {
    display: flex;
    flex-direction: row;
}

.product-inner-inner-big-title {
    width: 22px;
    height: 22px;
    margin-right: 7px;
    float: left;
    text-align: center;
    background: #e01222;
    line-height: 22px;
    font-size: 12px;
    color: #FFF;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.product-inner-inner-box {
    line-height: 22px;
    font-size: 16px;
    color: red;
}

.product-inner-inner-box span {
    color: #e01222;
}

.product-action-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.shopping-cart {
    height: 44px;
    padding: 5px;
    margin-right: 15px;
    /*background: 90% url("../../image/shopping/bbg1.jpg") repeat;*/
    /*gradient color*/
    background-image: linear-gradient(to right, #ddeb3b, #03a9f4, #f441a5, #e7cecc);
    border-radius: 5px;
    background-size: 390%;
    font-size: 18px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}

.shopping-cart-disabled {
    height: 44px;
    padding: 5px;
    margin-right: 15px;
    border-radius: 5px;
    background-size: 390%;
    font-size: 18px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}

.shopping-cart:hover {
    animation: anim 8s infinite;
}

.shopping-cart span {
    display: block;
    position: relative;
    top: 0;
    color: #FFF;
}

@keyframes anim {
    /*100% background position*/
    100% {
        background-position: -390% 0;
    }
}

.shopping-cart:hover span {
    top: -100%;
}

.product-details-contact-button {
    padding: 5px;
    height: 44px;
    float: left;
    margin-right: 15px;
    overflow: hidden;
    background: 90% url("../../image/shopping/bbg1.jpg") repeat;
    text-align: center;
    line-height: 44px;
    font-size: 18px;
    color: #FFF;
    text-decoration: none;
}

.product-details-contact-button span {
    display: block;
    position: relative;
    top: 0;
    color: #FFF;
}

.product-details-contact-button:hover span {
    top: -100%;
}

.item-sales {
    padding-left: 20px;
    font-size: 16px;
    font-weight: bold;

}

#product-description-box {
    background-color: #f1f1f1;
    padding: 10px;
    line-height: 40px;
    color: #7c7c7c;
}

#number-input:hover {
    border-color: orangered;
}

::-webkit-input-placeholder {
    color: #459eea;
}

.product-little-box {
    position: relative;
    z-index: -1;
    border: 2px solid lightgrey;
}

.product-little-box .product-image-box::before {
    content: "";
    position: absolute;
    top: 50px;
    right: 50px;
    bottom: 50px;
    left: 50px;
    z-index: -99;
    filter: blur(60px);
    margin: -30px;
    border: 3px solid black;
    background: url("../../image/shopping/background.png") fixed;
}


/*.product-little-box, .product-little-box .product-image-box::before {*/
/*    background: url("../../image/shopping/background.png") fixed 0;*/
/*}*/

