/*big container*/
table td, table th {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

table td:hover, table th:hover {
    border: 2px solid yellowgreen;
}

h3 {
    display: flex;
    justify-content: center;
    padding: 30px;
}

/*shopping-cart*/

#shopping-cart-box {
    background-color: transparent;
    /*border-left: 30px solid #f4e139;*/
    border: 5px solid #ddd;
    box-shadow: 0px 0px 16px #aaa;
    border-radius: 12px;
    padding: 75px 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 70%;
}

.shopping-cart-big-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.shopping-cart-box-head, .add-item-box-head {
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    font-style: normal;
    letter-spacing: 4px;
    color: #888;
    border-bottom: 3px solid #f0f0f0;
    margin-bottom: 10px;
    padding: 15px 10px 10px;
}

.shopping-cart-box-head a:hover, .add-item-box-head a:hover {
    color: #f0f0f0;
}

#shopping-cart-box h1, #add-item-box h1 {
    display: flex;
    align-items: flex-start;
    font-family: "Trebuchet MS", sans-serif;
    color: #f4e139;
    font-weight: normal;
    font-style: normal;
    font-size: 56px;
    text-shadow: 1px 1px 1px #aaa;
}

#shopping-cart-box h2, #add-item-box h2 {
    display: flex;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 34px;
    font-style: normal;
    background-color: #f0f0f0;
    margin: 40px 0px 30px -40px;
    padding: 0px 40px;
    width: 100%;
    color: #aaa;
    text-shadow: 1px 1px 1px #fff;
}

.shopping-cart-box-table {
    margin-bottom: 25px;
}

.shopping-cart-box-table, .add-item-box-table {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4em;
    font-style: normal;
}

.shopping-cart-box-table th, .add-item-box-table th {
    padding: 16px;
    color: #fff;
    text-shadow: 1px 1px 1px #568F23;
    border-bottom: 3px solid #9ED929;
    border-radius: 5px;
    min-width: 15%;
    background: transparent;
    margin: 2px;
}

/*add gradient color effects*/
.shopping-cart-box-table th, .add-item-box-table th {
    color: #fff;
    background-color: #9DD929;
    border: 1px solid #93CE37;
    border-right: 3px solid #9ED929;
    padding: 0px 10px;
    background: -webkit-gradient(
            linear,
            left bottom,
            right top,
            color-stop(0.05, #9ED929FF),
            color-stop(0.52, #8BC642FF),
            color-stop(0.88, #7BC043FF)
    );
    background: -moz-linear-gradient(
            left bottom,
            #9ED929FF 2%,
            #8BC642FF 51%,
            #7BC043FF 87%
    );
    border-radius: 5px;
}

.shopping-cart-box-table td, .add-item-box-table tbody td {
    padding: 8px;
    margin-left: 3px;
    background-color: #DEF3CA;
    border: 2px solid #e9f1e3;
    border-radius: 3px;
    color: #616060;
    text-shadow: 1px 1px 1px #fff;
    justify-content: center;
}

#shopping-cart-box .add_button {
    margin-top: 20px;
    padding: 20px;
}

.shopping-cart-big-box .shopping-cart-box-table .cancel-column {
    padding: 2px;
}

/*the image style*/
.index-item-image {
    width: 100%;
    height: 100%;
    max-width: 50px;
}

/*the image style*/
.index-item-image:hover {
    transform: scale(1.1);
}

/*the style for changing number values*/
.number {
    max-width: 30%;
    padding: 2px;
}

.shopping-cart-big-box .shopping-cart-box-table .sub-add-button {
    /*max-width: 5%;*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    /*align-content: center;*/
    /*justify-items: center;*/
    display: flex;
    padding: 60px;
    align-content: space-around;
    justify-content: center;
}

.shopping-cart-big-box .shopping-cart-box-table .number-margin {
    min-width: 16%;
    margin-right: 6px;
}

/*cancel button style*/
.incorrect:before {
    content: '\2716';
    color: #b20610;
}

/*style for different sellers*/
.shopping-cart-big-box .shopping-cart-box-table .shopping-cart-seller th {
    text-shadow: 1px 1px 1px #568F23;
    background-color: #f3db0d;
    border: 1px solid #f4e139;
    border-right: 3px solid #ece499;
    padding: 5px 10px;
    background: -webkit-gradient(
            linear,
            left bottom,
            right top,
            color-stop(0.02, #E8D20FFF),
            color-stop(0.51, #F4E139FF),
            color-stop(0.87, #FCF092FF)
    );
    background: -moz-linear-gradient(
            left bottom,
            #E8D20FFF 2%,
            #F4E139FF 51%,
            #FCF092FF 87%
    );
    margin-top: 10px;
}

/*the style for removing items from the shopping*/
.incorrect:before {
    content: '\2716';
    color: #b20610;
}

a {
    text-decoration: none;
}

/*the style for items removal*/
.removal-items-cart {
    height: 44px;
    padding: 5px;
    margin-right: 15px;
    background-image: linear-gradient(to right, #ddeb3b, #03a9f4, #f441a5, #e7cecc);
    border-radius: 5px;
    background-size: 390%;
    font-size: 18px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}

.removal-items-cart:hover {
    animation: anim 8s infinite;
}

.removal-items-cart span {
    display: block;
    position: relative;
    top: 0;
    color: #FFF;
}

@keyframes anim {
    /*100% background position*/
    100% {
        background-position: -390% 0;
    }
}

.removal-items-cart:hover span {
    top: -100%;
}

.shopping-cart-big-box .shopping-cart-box-table .checkout-total-payment {
    padding: 20px;
    font-size: 18px;
}

.shopping-cart-big-box .shopping-cart-box-table .shopping-cart-seller .checkout-total-payment {
    text-shadow: 1px 1px 1px #568F23;
    background-color: #2eeace;
    border: 1px solid #66d4be;
    border-right: 3px solid #a5dcc7;
    padding: 5px 10px;
    background: -webkit-gradient(
            linear,
            left bottom,
            right top,
            color-stop(0.02, #2eeace),
            color-stop(0.51, #66d4be),
            color-stop(0.87, #a5dcc7)
    );
    background: -moz-linear-gradient(
            left bottom,
            #2eeace 2%,
            #66d4be 51%,
            #a5dcc7 87%
    );
    margin-top: 10px;
}

#shopping-cart-box .h2 {
    color: #06b8d0;
    font-size: 40px;
}

.color {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    padding: 5px;
}

.change-quantity {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.change-quantity:hover {
    border: 2px solid lightgreen;
    background-color: rgba(0, 0, 0, 0.5);
}

#select-all {
    margin-right: 8px;
}

.description {
    margin-top: 50px;
    text-align: center;
    color: #999;
    transition: opacity 0.3s ease;
}

.description a {
    color: #4a9df6;
    text-decoration: none;
}

.dialogue-message-box.is-open ~ .description {
    opacity: 0;
}

.dialogue-message-box {
    display: block;
    position: relative;
    width: 100px;
    height: 30px;
    transition: width 0.8s cubic-bezier(0.23, 1, 0.32, 1), height 0.8s cubic-bezier(0.23, 1, 0.32, 1), transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform-style: preserve-3d;
    transform-origin: 50% 50%;
    text-align: center;
    margin: 0 auto;
}

.message-button-action {
    position: absolute;
    display: block;
    background-image: linear-gradient(to right, #d0de33, #f4f003, #8dbf31, #83e088);
    color: #fff;
    cursor: pointer;
    backface-visibility: hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition: background 0.15s ease, line-height 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    /*padding: 8px 18px;*/
    border-radius: 5px;
    margin: 0 auto;
}

@keyframes anim {
    /*100% background position*/
    100% {
        background-position: -390% 0;
    }
}

.message-button-action:hover {
    background-color: #f77066;
    animation: anim 8s infinite;
}

.dialogue-message-box.is-open .message-button-action {
    pointer-events: none;
    line-height: 160px;
}

.btn-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #eee;
    color: #222;
    transform: translateZ(-2px) rotateX(180deg);
    overflow: hidden;
    transition: box-shadow 0.8s ease;
}

.btn-back p {
    margin-top: 27px;
    margin-bottom: 25px;
}

.btn-back button {
    padding: 12px 20px;
    width: 30%;
    margin: 0 5px;
    background-color: transparent;
    border: 0;
    border-radius: 2px;
    font-size: 1em;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition: background 0.15s ease;
}

.btn-back button:focus {
    outline: 0;
}

.btn-back button.dialogue-message-yes-button {
    background-color: #2196f3;
    color: #fff;
}

.btn-back button.dialogue-message-yes-button:hover {
    background-color: #51adf6;
}

.btn-back button.dialogue-message-no-button {
    color: #2196f3;
}

.btn-back button.dialogue-message-no-button:hover {
    background-color: #ddd;
}

.dialogue-message-box.is-open .btn-back {
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
}

.dialogue-message-box[data-direction="left"] .btn-back, .dialogue-message-box[data-direction="right"] .btn-back {
    transform: translateZ(-2px) rotateY(180deg);
}

.dialogue-message-box.is-open {
    width: 400px;
    height: 160px;
}

.dialogue-message-box[data-direction="top"].is-open {
    transform: rotateX(180deg);
}

.dialogue-message-box[data-direction="right"].is-open {
    transform: rotateY(180deg);
}

.dialogue-message-box[data-direction="bottom"].is-open {
    transform: rotateX(-180deg);
}

.dialogue-message-box[data-direction="left"].is-open {
    transform: rotateY(-180deg);
}

#click-shopping-cart {
    color: whitesmoke;
    font-weight: bold;
}

.btn-back-dark button.dialogue-message-yes-button-dark {
    background-color: yellowgreen;
    color: #fff;
}

.btn-back-dark button.dialogue-message-yes-button-dark:hover {
    background-color: #70902e;
}

.btn-back-dark button.dialogue-message-no-button-dark {
    color: yellowgreen;
}

.btn-back-dark button.dialogue-message-no-button-dark {
    background-color: #ddd;
}

.btn-back-dark button.dialogue-message-no-button-dark:hover {
    background-color: #868686;
}

#confirm-delete {
    color: #5c8705;
    font-weight: bold;
}