table td, table th {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

table td:hover, table th:hover {
    border: 2px solid yellowgreen;
}

h3 {
    display: flex;
    justify-content: center;
    padding: 30px;
}

#shopping-cart-box {
    background-color: transparent;
    /*border-left: 30px solid #f4e139;*/
    border-right: 5px solid #ddd;
    border-top: 5px solid #ddd;
    border-bottom: 5px solid #ddd;
    box-shadow: 0px 0px 16px #aaa;
    border-radius: 12px;
    padding: 75px 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 70%;
}

.shopping-cart-big-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.shopping-cart-box-head, .add-item-box-head {
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    font-style: normal;
    letter-spacing: 4px;
    color: #888;
    border-bottom: 3px solid #f0f0f0;
    margin-bottom: 10px;
    padding: 10px;
}

.shopping-cart-box-head a:hover, .add-item-box-head a:hover {
    color: #f0f0f0;
}

#shopping-cart-box h1, #add-item-box h1 {
    display: flex;
    align-items: flex-start;
    font-family: "Trebuchet MS", sans-serif;
    color: #f4e139;
    font-weight: normal;
    font-style: normal;
    font-size: 56px;
    text-shadow: 1px 1px 1px #aaa;
}

#shopping-cart-box h2, #add-item-box h2 {
    display: flex;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 34px;
    font-style: normal;
    background-color: #f0f0f0;
    margin: 40px 0px 30px -40px;
    padding: 0px 40px;
    width: 100%;
    color: #aaa;
    text-shadow: 1px 1px 1px #fff;
}

.shopping-cart-box-table, .add-item-box-table {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4em;
    font-style: normal;
}

.shopping-cart-box-table th, .add-item-box-table th {
    padding: 16px;
    color: #fff;
    text-shadow: 1px 1px 1px #568F23;
    border-bottom: 3px solid #9ED929;
    border-radius: 5px;
    min-width: 15%;
    background: transparent;
    margin: 2px;
}

/*add gradient color effects*/
.shopping-cart-box-table th, .add-item-box-table th {
    color: #fff;
    background-color: #9DD929;
    border: 1px solid #93CE37;
    border-right: 3px solid #9ED929;
    padding: 0px 10px;
    background: -webkit-gradient(
            linear,
            left bottom,
            right top,
            color-stop(0.05, #9ED929FF),
            color-stop(0.52, #8BC642FF),
            color-stop(0.88, #7BC043FF)
    );
    background: -moz-linear-gradient(
            left bottom,
            #9ED929FF 2%,
            #8BC642FF 51%,
            #7BC043FF 87%
    );
    border-radius: 5px;
}

.shopping-cart-box-table td, .add-item-box-table tbody td {
    padding: 8px;
    margin-left: 3px;
    background-color: #DEF3CA;
    border: 2px solid #e9f1e3;
    border-radius: 3px;
    color: #616060;
    text-shadow: 1px 1px 1px #fff;
    justify-content: center;
}

#shopping-cart-box .add_button {
    margin-top: 20px;
    padding: 20px;
}

.shopping-cart-big-box .shopping-cart-box-table .cancel-column {
    padding: 2px;
}

/*the image style*/
.index-item-image {
    width: 100%;
    height: 100%;
    max-width: 50px;
}

/*the image style*/
.index-item-image:hover {
    transform: scale(1.1);
}

/*the style for changing number values*/
.number {
    max-width: 30%;
    padding: 2px;
}

.shopping-cart-big-box .shopping-cart-box-table .sub-add-button {
    /*max-width: 5%;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-items: center;
    min-height: 120px;
}

.shopping-cart-big-box .shopping-cart-box-table .number-margin {
    min-width: 16%;
    margin-right: 6px;
}

/*cancel button style*/
.incorrect:before {
    content: '\2716';
    color: #b20610;
}

/*style for different sellers*/
.shopping-cart-big-box .shopping-cart-box-table .shopping-cart-seller th {
    text-shadow: 1px 1px 1px #568F23;
    background-color: #f3db0d;
    border: 1px solid #f4e139;
    border-right: 3px solid #ece499;
    padding: 5px 10px;
    background: -webkit-gradient(
            linear,
            left bottom,
            right top,
            color-stop(0.02, #E8D20FFF),
            color-stop(0.51, #F4E139FF),
            color-stop(0.87, #FCF092FF)
    );
    background: -moz-linear-gradient(
            left bottom,
            #E8D20FFF 2%,
            #F4E139FF 51%,
            #FCF092FF 87%
    );
    margin-top: 10px;
}

/*the style for removing items from the shopping*/
.incorrect:before {
    content: '\2716';
    color: #b20610;
}

a {
    text-decoration: none;
}

/*the style for items removal*/
.removal-items-cart {
    height: 44px;
    padding: 5px;
    margin-right: 15px;
    background-image: linear-gradient(to right, #ddeb3b, #03a9f4, #f441a5, #e7cecc);
    border-radius: 5px;
    background-size: 390%;
    font-size: 18px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}

.removal-items-cart:hover {
    animation: anim 8s infinite;
}

.removal-items-cart span {
    display: block;
    position: relative;
    top: 0;
    color: #FFF;
}

@keyframes anim {
    /*100% background position*/
    100% {
        background-position: -390% 0;
    }
}

.removal-items-cart:hover span {
    top: -100%;
}

.shopping-cart-big-box .shopping-cart-box-table .checkout-total-payment {
    padding: 10px;
    font-size: 18px;
}

.shopping-cart-big-box .shopping-cart-box-table .shopping-cart-seller .checkout-total-payment {
    text-shadow: 1px 1px 1px #568F23;
    background-color: #2eeace;
    border: 1px solid #66d4be;
    border-right: 3px solid #a5dcc7;
    padding: 5px 10px;
    background: -webkit-gradient(
            linear,
            left bottom,
            right top,
            color-stop(0.02, #2eeace),
            color-stop(0.51, #66d4be),
            color-stop(0.87, #a5dcc7)
    );
    background: -moz-linear-gradient(
            left bottom,
            #2eeace 2%,
            #66d4be 51%,
            #a5dcc7 87%
    );
    margin-top: 10px;
}

#shopping-cart-box .h2 {
    color: #06b8d0;
    font-size: 40px;
}

.color {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    padding: 5px;
}