.index-container {
    display: flex;
    flex-direction: column;
}

.index-upper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.index-logo-img {
    width: 200px;
}

.index-search-submit-button {
    width: 80px;
    height: 37px;
    cursor: pointer;
    background: transparent url("../../image/shopping/soubg.jpg") no-repeat center center;
    cursor: pointer;
}

.my-basket-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 40px;
    border: 3px solid #33b62a;
    background-color: #f1f1f1;
}

.index-basket-group {
    text-decoration: none;
}

.index-basket-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: green;
}

.index-basket-text {
    font-size: 16px;
    text-decoration: none;
    color: green;
}

.index-item {
    padding: 10px;
    margin: 20px;
    width: 260px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 3px lightblue solid;
    border-radius: 15px;
}

.index-item-container-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.index-item-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    margin: auto;
    background: transparent;
}


.index-item {
    width: 270px;
    margin: 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border: 3px solid lightgray;
}

.index-item:hover {
    border: 3px solid orange;
}

.index-item-image {
    width: 240px;
    height: 250px;
}

.index-item-image:hover {
    transform: scale(1.1);
}

.index-product-view-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
}

.product-view-title-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 100px;
    color: #ff1393;
    font-size: 25px;
    font-weight: 800;
    background: -webkit-gradient(
            linear,
            left bottom,
            right top,
            color-stop(0.05, #F9BCC9FF),
            color-stop(0.52, #F3FF4CFF),
            color-stop(0.88, #FCCFE3FF)
    );
    background: -moz-linear-gradient(
            left bottom,
            #F9BCC9FF 5%,
            #F3FF4CFF 52%,
            #FCCFE3FF 88%
    );
    border-radius: 10px;
}

.index-item-text {
    width: 100%;
}

.index-item-text * {
    padding: 10px;
}

.index-item-price {
    color: mediumpurple;
    font-weight: bold;
    font-size: 20px;

}

.index-item-name {
    text-decoration: none;
    color: orange;
    font-size: 18px;
    font-weight: bold;
}

.index-item-name:hover {
    text-decoration: none;
    color: #d73290;
}

.index-product-recommendation-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.product-recommendation-title-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 100px;
    color: purple;
    font-size: 25px;
    font-weight: 800;
    background: -webkit-gradient(
            linear,
            left bottom,
            right top,
            color-stop(0.02, rgb(249, 188, 201)),
            color-stop(0.51, rgb(243, 255, 76)),
            color-stop(0.87, rgb(252, 207, 227))
    );
    background: -moz-linear-gradient(
            left bottom,
            rgb(249, 188, 201) 2%,
            rgb(255, 228, 76) 51%,
            rgb(252, 207, 227) 87%
    );
}
