.cart table td, .cart table th {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

h3 {
    display: flex;
    justify-content: center;
    padding: 30px;
}

#shopping-cart-box {
    background-color: #efefef;
    border-left: 30px solid #f4e139;
    border-right: 1px solid #ddd;
    -moz-box-shadow: 0px 0px 16px #aaa;
    border-radius: 12px;
    padding: 75px 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 70%;
}

.shopping-cart-big-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.shopping-cart-box-head {
    font-family: Helvetica, Arial, Serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    font-style: normal;
    letter-spacing: 4px;
    color: #888;
    border-bottom: 3px solid #f0f0f0;
    margin-bottom: 10px;
    padding: 10px;
}

.shopping-cart-box-head a:hover {
    color: #f0f0f0;
}

#shopping-cart-box h1 {
    display: flex;
    align-items: flex-start;
    font-family: "Trebuchet MS", sans-serif;
    color: #f4e139;
    font-weight: normal;
    font-style: normal;
    font-size: 56px;
    text-shadow: 1px 1px 1px #aaa;
}

#shopping-cart-box h2 {
    display: flex;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 34px;
    font-style: normal;
    background-color: #f0f0f0;
    margin: 40px 0px 30px -40px;
    padding: 0px 40px;
    width: 100%;
    color: #aaa;
    text-shadow: 1px 1px 1px #fff;
}

.shopping-cart-box-table {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4em;
    font-style: normal;
}

.shopping-cart-box-table tr {
}


.shopping-cart-box-table th {
    padding: 16px;
    color: #fff;
    text-shadow: 1px 1px 1px #568F23;
    border-bottom: 3px solid #9ED929;
    border-radius: 5px;
    min-width: 15%;
    background: transparent;
    margin: 2px;
}

/*add gradient color effects*/
.shopping-cart-box-table th {
    color: #fff;
    text-shadow: 1px 1px 1px #568F23;
    background-color: #9DD929;
    border: 1px solid #93CE37;
    border-right: 3px solid #9ED929;
    padding: 0px 10px;
    background: -webkit-gradient(
            linear,
            left bottom,
            right top,
            color-stop(0.02, rgb(158, 217, 41)),
            color-stop(0.51, rgb(139, 198, 66)),
            color-stop(0.87, rgb(123, 192, 67))
    );
    background: -moz-linear-gradient(
            left bottom,
            rgb(158, 217, 41) 2%,
            rgb(139, 198, 66) 51%,
            rgb(123, 192, 67) 87%
    );
    border-radius: 5px;
}

/*table foot effects*/
/*.shopping-cart-box-table tfoot td {*/
/*    color: #9CD009;*/
/*    font-size: 32px;*/
/*    text-align: center;*/
/*    padding: 10px 0px;*/
/*    text-shadow: 1px 1px 1px #444;*/
/*}*/

/*.shopping-cart-box-table tfoot th {*/
/*    color: #666;*/
/*}*/

.shopping-cart-box-table td {

    padding: 8px;
    margin-left: 3px;
    background-color: #DEF3CA;
    border: 2px solid #e9f1e3;
    border-radius: 3px;
    color: #616060;
    text-shadow: 1px 1px 1px #fff;
    justify-content: center;
}

/*.shopping-cart-box-table tbody span.check::before {*/
/*    content: url(../images/check0.png)*/
/*}*/

/*tbody td {*/
/*    width: 80%;*/
/*}*/

#shopping-cart-box .add_button {
    margin-top: 20px;
    padding: 20px;
}

.shopping-cart-big-box .shopping-cart-box-table .cancel-column {
    padding: 2px;
}

/*the image style*/
.index-item-image {
    width: 100%;
    max-width:200px;
    height: 100%;
    max-width: 200px;
}

/*the image style*/
.index-item-image:hover {
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari and Chrome */
    -o-transform: scale(1.1);
    /* Opera */
    -moz-transform: scale(1.1);
}

/*the style for the image in the td of table*/
.shopping-cart-big-box .shopping-cart-box-table .index-item-image-box {
}

/*the style for changing number values*/
.number {
    max-width: 30%;
    padding: 2px;
}

.shopping-cart-big-box .shopping-cart-box-table .sub-add-button {
    max-width: 5%;
}

.shopping-cart-big-box .shopping-cart-box-table .number-margin {
    min-width: 16%;
    margin-right: 6px;
}

/*cancel button style*/
.incorrect:before {
    content: '\2716';
    color: #b20610;
}

/*style for different sellers*/
.shopping-cart-big-box .shopping-cart-box-table #shopping-cart-seller th {
    text-shadow: 1px 1px 1px #568F23;
    background-color: #f3db0d;
    border: 1px solid #f4e139;
    border-right: 3px solid #ece499;
    padding: 5px 10px;
    background: -webkit-gradient(
            linear,
            left bottom,
            right top,
            color-stop(0.02, rgb(232, 210, 15)),
            color-stop(0.51, rgb(244, 225, 57)),
            color-stop(0.87, rgb(252, 240, 146))
    );
    background: -moz-linear-gradient(
            left bottom,
            rgb(232, 210, 15) 2%,
            rgb(244, 225, 57) 51%,
            rgb(252, 240, 146) 87%
    );
    margin-top: 10px;
}

/*the style for removing items from the shopping*/
.incorrect:before {
    content: '\2716';
    color: #b20610;
}


.manage-items-modify {
    padding: 5px;
    background-color: #efefef;
    color: #616060;
}

.manage-items-modify:hover {
    color: orange;
    border-color: #eddf4d;
}

a {
    text-decoration: none;
}