@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400|Lora");

body {
    background: #cbc0d3;
}

/* 容器的样式 */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-inner_box {
    display: flex;
    width: 650px;
    height: 415px;
    position: absolute;
    top: 25%;
    background: #f6f6f6;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.login-move_box {
    position: absolute;
    top: -10%;
    left: 5%;
    background: #eac7cc;
    width: 320px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out;
    z-index: 2;
}

.login-hidden {
    display: none;
    transition: all 0.5s ease;
}

.login-left, .login-right {
    position: absolute;
    width: 50%;
    transition: 1s all ease;
}

.login-left {
    left: -2%;
}

.login-right {
    right: -2%;
}

/* the style for font and button */
.login-inner_box h1 {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin-top: 95px;
    text-transform: uppercase;
    color: #f6f6f6;
    font-size: 30px;
    letter-spacing: 8px;
}

.login-title {
    font-family: "Lora", serif;
    color: #8e9aaf;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 3px;
    text-align: center;
    font-weight: 300;
    margin-top: 20%;
}

.login-advertise {
    margin-top: 8px;
}

.login-account {
    margin-top: 45%;
    font-size: 10px;
}

.login-inner_box p {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    color: #8e9aaf;
    text-align: center;
}

.login-inner_box span {
    color: #eac7cc;
}

.login-inner_box .flower {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 45%;
    left: 27%;
    opacity: 0.8;
}

.login-inner_box .smaller {
    width: 130px;
    height: 130px;
    top: 48%;
    left: 30%;
    opacity: 0.9;
}

.login-inner_box button {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 11px;
    border-radius: 12px;
    outline: none;
    display: block;
    padding: 12px 12px 12px 20px;
}

.login-inner_box button:hover {
    background: #eac7cc;
    color: #f6f6f6;
    transition: background-color 1s ease-out;
}

.login-inner_box .index-banner-button {
    margin-top: 3%;
    background: #f6f6f6;
    color: #ce7d88;
    border: solid 1px #eac7cc;
    margin-left: 35%;
}

/* the style for form */
.login-inner_box form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 7px;
}

.login-more-padding {
    position: absolute;
    margin-left: -30px;
    margin-top: 25px;
}

.login-more-padding input {
    padding: 12px;
}

.login-more-padding .login-submit1 {
    margin-top: 45px;
}



.login-submit1 {
    margin-top: 25px;
    padding: 12px;
    border-color: #ce7d88;
}

.login-submit1:hover {
    background: #cbc0d3;
    border-color: #bfb1c9;
}

.login-input-text {
    background: #eac7cc;
    width: 65%;
    color: #ce7d88;
    border: none;
    padding: 9px;
    font-weight: 100;
}

.login-input-text:focus {
    color: #ce7d88;
    outline: none;
    border-bottom: 1px solid rgba(206, 125, 136, 0.7);
    transition: 0.8s all ease;
}


.login-inner_box label {
    font-family: "Open Sans", sans-serif;
    color: #ce7d88;
    font-size: 10px;
    letter-spacing: 1px;
}

.login-inner_box .checkbox {
    /*display: inline;*/
    white-space: nowrap;
    position: relative;
    margin: auto;
    top: -5px;
}

.login-input-text[type=checkbox] {
    width: 15px;
    background: #ce7d88;
}

.login-input-text[type=checkbox]:checked + label {
    color: #ce7d88;
    transition: 0.5s all ease;
}

.login-input_area {
    position: relative;
    margin-left: 58px;
}

.login-input-text {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: 0;
    border-bottom: 1px solid #ce7d88;
    transition: 0.8s all ease;
    outline: none;
    background: transparent;
}

.login-input_area label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 6px 0;
    font-size: 16px;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
    pointer-events: none;
    transition: .6s;
}

.login-input-text:focus ~ label,
.login-input-text:valid ~ label {
    top: -25px;
    left: 0;
    color: #cab2dc;
    font-size: 14px;
}


.login-submit-button {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 11px;
    border-radius: 12px;
    outline: none;
    display: block;
    padding: 12px 12px 12px 20px;
    margin-top: 3%;
    background: #f6f6f6;
    color: #ce7d88;
    border: solid 1px #eac7cc;
    margin-left: 35%;
}