body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-color: pink;
}

.box {
    position: absolute;
    width: 600px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 10px #58f1c1;
    border-radius: 15px;
    padding: 40px;
    /*设置的边框和内边距的值是包含在width内的*/
    box-sizing: border-box;
}

.box h1 {
    margin: 0 0 40px;
    padding: 0;
    color: white;
    text-align: center;
}

.box .input_area {
    position: relative;
}

.box .input_area input {
    width: 94%;
    padding: 4px 0;
    font-size: 16px;
    color: white;
    /*设置了border: none 仍然有边框,这是因为设置了height 和 weight, 去掉即可 */
    border: 0;
    outline: none;
    background: transparent;
    border-bottom: 1px solid #58f1c1;
    margin-bottom: 30px;
    /*padding 简写属性后面的值*/
    /*1值:代表4个方向设置相同的内边距*/
    /*2值:上下 左右*/
    /*3值:上 左右 下*/
    /*4值:上 右 下 左*/
}

.box .input_area label {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    padding: 10px 0;
    /*设置一个元素的css属性为pointer-events: none。它将不会捕获任何click事件，而是让事件穿过该元素到达下面的元素*/
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

/*.box .input_area input:focus ~ label{*/
/*    top: -10px;*/
/*    left: 0;*/
/*    color: #03a9f4;*/
/*    font-size: 12px;*/
/*}*/


