{% extends "/base/base.html" %}

{% block title %}
    Confirm You Order
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="../../static/css/shopping/checkout.css">
    <link rel="stylesheet" href="../../static/css/shopping/shopping_cart.css">
{% endblock %}

{% block content %}

    <div class="shopping-cart-big-box">
        <div id="shopping-cart-box">
            <p class="shopping-cart-box-head"> Customer </p>

            <h1>Confirm You Order</h1>
            <div class="empty-space1"></div>
            <table class="shopping-cart-box-table">
                <thead>
                <tr>
                    <th class="index-item-image-box">Name</th>
                    <th class="index-item-image-box">Image</th>
                    <th>Price</th>
                    <th class="number-margin">Number</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                {% for shop in cart_dict %}

                    <tr id="shopping-cart-seller">
                        <th colspan="7">Shop Name: {{ shop.username }}</th>
                    </tr>
                    {% for item in cart_dict[shop] %}
                        <tr>
                            <td>
                                {{ item.name }}
                            </td>
                            <td class="index-item-image-box"><a
                                    href="{{ url_for("item.details", itemID=item.id) }}"><img
                                    class="index-item-image"
                                    src="{{ url_for('static', filename='uploaded_files/'+item.main_image_url) }}"
                                    value="Item Image"></a>
                            </td>
                            <td>{{ item.price }}</td>
                            <td class="sub-add-button">
                                <input disabled="disabled" type="text" class="number" value="{{ item.count }}">
                            </td>
                            <td>{{ item.price * item.count }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}

                <tr class="shopping-cart-seller">
                    <th colspan="7" class="checkout-total-payment">Total Price: {{ total_price }}</th>
                </tr>
                </tbody>
            </table>
            <div class="empty-space1"></div>
            <button class="button-default"><a href="{{ url_for("checkout.checkout_pay") }}">Check out And Pay</a>
            </button>


        </div>
    </div>

{% endblock %}