{% extends "/base/base.html" %}

{% block title %}
    Shopping
{% endblock %}
{% block script %}
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/shopping/index.css') }}">
{% endblock %}

{% block content %}

    <br>
    <br>
    <div class="all">
        <div class="middle">
            <div class="index-container">
                <div id="auto">
                    <div class="index-upper">
                        <img class="index-logo-img no-anim-image" src="../../static/image/shopping/img_4.png" alt="">
                        <div class="index-search-box">
                            <form action="{{ url_for("index.search") }}" method="GET" name="search">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <input class="index-search-text" name="keyword" placeholder="Enter the product name" value="">
                                <input class="index-search-submit-button" type="submit" value="">
                            </form>
                        </div>
                        <div class="my-basket-box">
                            <a class="index-basket-group" href="{{ url_for("cart.shopping_cart") }}">

                    <span class="index-basket-icon">
                        <p class="index-basket-text">My Shopping Cart</p>
                    <i class="fas fa-cart-arrow-down"></i>
                </span>
                            </a>

                        </div>
                    </div>
                </div>

                <br>
                <br>


                {# hot items recommendation #}
                <div class="index-product-recommendation-title">
                    <h1 class="product-recommendation-title-text">Welcome to Online Shopping</h1>
                </div>
                <div class="index-item-container-box">
                    <div class="index-item-container">

                        <div class="shell">
                            <ui class="index-banner-images-box">
                                <li class="index-banner-image"></li>
                                <li class="index-banner-image"></li>
                                <li class="index-banner-image"></li>
                            </ui>
                            <ui class="index-banner-min-images-box">
                                <li class="index-banner-min-image"></li>
                                <li class="index-banner-min-image"></li>
                                <li class="index-banner-min-image"></li>
                            </ui>
                            <div class="index-banner-button">
                                <div class="index-banner-button-left"></div>
                                <div class="index-banner-button-right"></div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


            <br>
            <br>


            {# Product viewing area#}
            <div class="index-product-view-title">
                <h1 class="product-view-title-text">Recommended</h1>
            </div>
            <div class="index-item-container-box">
                <div class="index-item-container">

                    {% for item in items %}
                        <div class="index-item scroll-fade-in">
                            <a href="{{ url_for("item.details", itemID=item.id) }}"> <img class="index-item-image"
                                                                                          src="{{ url_for('static', filename='uploaded_files/'+item.main_image_url) }}"
                                                                                          value="Item Image"></a>
                            <div class="index-item-text">
                                <p class="index-item-price">$ {{ item.price }}</p>
                                <a class="index-item-name"
                                   href="{{ url_for("item.details", itemID=item.id) }}">{{ item.name }}</a>
                                <p class="index-item-inventory">{{ item.inventory }} in warehouse</p>
                                <p class="index-item-description">{{ item.description }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <br>
            <br>

            {# Shops area#}
            {# Separate shops based on their sellers#}
            {% for shop in shop_sellers %}
                <div class="index-product-view-title">
                    <h1 class="product-view-title-text">
                        <a class="index-shop-name-text scroll-fade-in"
                           href="{{ url_for("item.show_all_items", userid=shop.id) }}">
                            Shop Name: {{ shop.username }}
                        </a>
                    </h1>
                </div>
                <div class="index-item-container-box">
                    <div class="index-shoes-container">
                        <div class="index-shoes-box">
                            <div class="left-big-img">
                                <a href="{{ url_for("item.show_all_items", userid=shop.id) }}" target="_blank">
                                    <img class="scroll-fade-in larger" width="300" height="400"
                                         src="../../static/image/shopping/sales.png">
                                </a>
                                <div>
                                    <a href="{{ url_for("item.show_all_items", userid=shop.id) }}">
                                        &nbsp;&nbsp;&nbsp;<span
                                            class="button-default">
                                Click to view more in this shop</span></a>
                                </div>
                            </div>
                            {#                    <div class="right-img-area">#}
                            {% if current_user.is_authenticated %}
                                {% for item in shop_sellers[shop][:3] %}
                                    <div class="index-item scroll-fade-in">
                                        <a href="{{ url_for("item.details", itemID=item.id) }}"> <img
                                                class="index-item-image"
                                                src="{{ url_for('static', filename='uploaded_files/'+item.main_image_url) }}"
                                                value="Item Image"></a>
                                        <div class="index-item-text">
                                            <p class="index-item-price">$ {{ item.price }}</p>
                                            <a class="index-item-name"
                                               href="{{ url_for("item.details", itemID=item.id) }}">{{ item.name }}</a>
                                            <p class="index-item-inventory">{{ item.inventory }} in warehouse</p>
                                            <p class="index-item-description">{{ item.description }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {% for item in shop_sellers[shop][:4] %}
                                    <div class="index-item scroll-fade-in">
                                        <a href="{{ url_for("item.details", itemID=item.id) }}"> <img
                                                class="index-item-image"
                                                src="{{ url_for('static', filename='uploaded_files/'+item.main_image_url) }}"
                                                value="Item Image"></a>
                                        <div class="index-item-text">
                                            <p class="index-item-price">$ {{ item.price }}</p>
                                            <a class="index-item-name"
                                               href="{{ url_for("item.details", itemID=item.id) }}">{{ item.name }}</a>
                                            <p class="index-item-inventory">{{ item.inventory }} in warehouse</p>
                                            <p class="index-item-description">{{ item.description }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if current_user.is_authenticated %}
            <div class="right-side-bar">
                <div class="user-intro">
                    <div class="avatar">
                        <img width="100px" height="100px" src="../../{{ current_user.main_image_url }}"
                             alt="" class="img-avatar">
                    </div>

                    <div class="username">
                        {{ current_user.username }}
                    </div>
                    <div class="identity">
                        {% if current_user.is_shopper %}
                            Seller
                        {% else %}
                            Customer
                        {% endif %}
                    </div>
                    <br>
                    <div class="details">
                        <div>
                            <a href="{{ url_for("user.info") }}">
                                <button class="button-default1">
                                    Personal Details
                                </button>
                            </a>
                        </div>
                        <br>
                        {% if current_user.is_shopper %}
                            <div>
                                <a href="{{ url_for("user.info") }}">
                                    <button class="button-default1">
                                        Orders
                                    </button>
                                </a>
                            </div>
                            <div>
                                <a href="{{ url_for("item.show_all_items", userid=current_user.id) }}">
                                    <button class="button-default1">
                                        Items
                                    </button>
                                </a>
                            </div>
                        {% else %}
                            <div>
                                <a href="{{ url_for("order.view_order") }}">
                                    <button class="button-default1">
                                        Orders
                                    </button>
                                </a>
                            </div>
                            <div>
                                <a href="{{ url_for("cart.shopping_cart") }}">
                                    <button class="button-default1">
                                        Cart
                                    </button>
                                </a>
                            </div>
                        {% endif %}

                    </div>

                </div>
                <br>
                <br>
                <br>
                <div class="announcements">
                    <div class="announcements-text">
                        Announcements
                    </div>
                    <div>
                        <img class="index-logo-img no-anim-image" src="../../static/image/shopping/img_4.png" alt="">
                    </div>
                    <div class="text">
                        <span fill-info="Thanks">Thanks</span>
                        <span fill-info="for">for</span>
                        <span fill-info="visiting">visiting</span>
                        <span fill-info="our">our</span>
                        <span fill-info="website.">website.</span>
                        <span fill-info="Feel">Feel</span>
                        <span fill-info="free">free</span>
                        <span fill-info="to">to</span>
                        <span fill-info="buy">buy</span>
                        <span fill-info="anything">anything</span>
                        <span fill-info="you">you</span>
                        <span fill-info="want.">want.</span>
                    </div>
                </div>
                <br>
                <br>
                <br>
                {% if current_user.is_shopper %}
                    <div class="manage-my-order">
                        <div class="announcements-text">
                            Manage My Order
                        </div>
                        <div>
                            <img class="index-logo-img no-anim-image size" src="../../static/image/shopping/order.png" alt="">
                        </div>
                    </div>
                {% else %}

                {% endif %}


            </div>
        {% endif %}
    </div>






    {% block jsfoot %}
        <script>
            let index_banner_left = document.querySelector(".index-banner-button-left")
            let index_banner_right = document.querySelector(".index-banner-button-right")
            let index_banner_min = document.querySelectorAll(".index-banner-min-image")
            let index_banner_images = document.querySelector(".index-banner-images-box")
            // First set an index to calculate and control the position of the image, and then set a time as a timer
            let index = 0
            let time

            // Here first create a position as a reuse function, the role is to combine index to define the current image position
            function getPosition() {
                index_banner_images.style.top = (index * -100) + "%"
            }

            // Then create a reuse function add as an add function, if the current image position value index is
            // greater than or equal to the current number of images,
            // it means that the calculation range is exceeded, so we have to clear zero, if not index will be added one
            function increaseTime() {
                if (index >= index_banner_min.length - 1) {
                    index = 0
                } else {
                    index++
                }
            }

            // Conversely desc is a minus function, if the current image position value index is less than 1,
            // then his value will bounce to the top, that is, the last of the rotation map, if not index will be minus one
            function decreaseTime() {
                if (index < 1) {
                    index = index_banner_min.length - 1
                } else {
                    index--
                }
            }

            // Create a timer to be used as a function of reuse time,, index every 3 seconds to add one,
            // and then add add add function and desc function to determine a bit, and then add the positioning function
            function timeCalc() {
                time = setInterval(() => {
                    index++
                    decreaseTime()
                    increaseTime()
                    getPosition()
                }, 1200)
            }

            // Set the button, left for the left button, because when you click the picture will be backwards in the opposite direction,
            // so set into the desc minus function into, positioning
            index_banner_left.addEventListener("click", () => {
                decreaseTime()
                getPosition()
                clearInterval(time)
                timeCalc()
            })
            // similar for the right button
            index_banner_right.addEventListener("click", () => {
                increaseTime()
                getPosition()
                clearInterval(time)
                timeCalc()
            })
            // When you get the left and right buttons, you also need to take effect the small picture button below.
            // First iterate through it, then get the value of the currently clicked small image button and assign it to index, then jump
            for (let i = 0; i < index_banner_min.length; i++) {
                index_banner_min[i].addEventListener("click", () => {
                    index = i
                    getPosition()
                    clearInterval(time)
                    timeCalc()
                })
            }
            // Turn the timer on
            timeCalc()
        </script>

    {% endblock %}



{% endblock %}
