{% extends "/base/base.html" %}

{% block title %}
    Orders
{% endblock %}

{% block style %}

    <link rel="stylesheet" href="../../static/css/shopping/shopping_cart.css">
    <link rel="stylesheet" href="../../static/css/shopping/order.css">
{% endblock %}

{% block content %}

    <div class="shopping-cart-big-box">
        <div id="shopping-cart-box">

            {#            present the user information#}
            <div class="user-info-default">
                <div id="default_avatar">
                    <img src="../../{{ current_user.main_image_url }}" alt="">
                </div>
                <div id="empty">
                </div>
                <div id="default-info">
                    <table class="add-item-box-table">
                        <tbody>
                        <tr>
                            <th>User Name</th>
                            <td>{{ current_user.username }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ current_user.email }}</td>
                        </tr>
                        <tr>
                            <th>Identity</th>
                            <td>
                                {% if current_user.is_shopper %}
                                    Seller
                                {% else %}
                                    Customer
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>

                    </table>
                </div>

            </div>

            <table class="shopping-cart-box-table empty-space">
                <thead>
                <tr>
                    <th class="cancel-column">Item Image</th>
                    <th class="index-item-image-box">Name</th>
                    <th class="index-item-image-box">
                        {% if current_user.is_shopper %}
                            Buyer
                        {% else %}
                            Shopper
                        {% endif %}

                    </th>
                    <th>Price</th>
                    <th>Count</th>
                    <th>Order State</th>
                    <th>Total Price</th>
                    <th class="cancel-column">Confirm Receipt</th>
                </tr>
                </thead>
                <tbody>


                {% for order_id in orders %}
                    <tr class="shopping-cart-seller">
                        <th colspan="8">
                            <div id="flex-around">
                                <span>
                                    Order ID: {{ order_id }}
                                </span>
                                <span>
                                    Created at: {{ orders[order_id][0].created_at_txt }}
                                </span>
                            </div>
                        </th>
                    </tr>
                    {% for order in orders[order_id] %}
                        <tr>
                        <td class="index-item-image-box">
                            <a
                                    href="{{ url_for("item.details", itemID=order.item_id) }}"><img
                                    class="index-item-image"
                                    src="{{ url_for('static', filename='uploaded_files/'+order.item.main_image_url) }}"
                                    value="Item Image"></a>
                        </td>
                        <td>
                            {{ order.item.name }}
                        </td>
                        {% if order.show_td %}

                            {% if current_user.is_shopper %}
                                <td rowspan="{{ confirm_count_dict[order_id][order.buyer.id] }}">
                                    {{ order.buyer.username }}
                                </td>
                            {% else %}
                                <td rowspan="{{ confirm_count_dict[order_id][order.shopper.id] }}">
                                    {{ order.shopper.username }}
                                </td>
                            {% endif %}

                        {% endif %}
                        <td>
                            {{ order.item.price }}
                        </td>

                        <td>
                            {{ order.count }}
                        </td>
                        {% if order.show_td %}
                            {% if current_user.is_shopper %}
                                <td rowspan="{{ confirm_count_dict[order_id][order.buyer.id] }}">
                                    {% else %}
                                <td rowspan="{{ confirm_count_dict[order_id][order.shopper.id] }}">
                            {% endif %}
                        {% if order.status == "Confirmed By Shopper" %}
                            <span class="confirmed-by-shopper">
                                    🆗&nbsp;Confirmed By Seller
                                </span>
                        {% elif order.status == "Not Confirmed" %}
                            <span class="not-confirmed-by-shopper">
                                    🕐&nbsp;{{ order.status }}
                                </span>
                        {% elif order.status == "Confirmed Delivered" %}
                            <span class="confirm-delivered">
                                    👍&nbsp;{{ order.status }}
                                </span>
                        {% endif %}
                        </td>
                        {% endif %}
                        {% if loop.index == 1 %}
                            <td rowspan="{{ orders[order_id]|length }}">
                                {{ total_price[order_id] }}
                            </td>
                        {% endif %}
                        {% if order.show_td %}
                            {% if current_user.is_shopper %}
                                <td rowspan="{{ confirm_count_dict[order_id][order.buyer.id] }}">
                                    {% else %}
                                <td rowspan="{{ confirm_count_dict[order_id][order.shopper.id] }}">
                            {% endif %}
                        {% if current_user.is_shopper %}
                            <button class="button-default">
                                <a href="{{ url_for("order.shopper_confirm_order", order_id=order_id) }}"
                                   class="order-font">Confirm</a>
                            </button>
                        {% else %}
                            <button class="button-default">
                                <a href="{{ url_for("order.buyer_confirm_order", order_id=order_id, shopper_id=order.shopper_id) }}"
                                   class="order-font">Confirm</a>
                            </button>
                        {% endif %}
                        </td>
                        {% endif %}

                    {% endfor %}
                </tr>
                {% endfor %}

                </tbody>
            </table>
            <br>
            <button class="button-default1 empty-space1">
                <a href="{{ url_for("index.home") }}" id="go-home">
                    Go Home
                </a>
            </button>


        </div>
    </div>



{% endblock %}