

{% block style %}
    <link rel="stylesheet" href="../../static/css/shopping/checkout.css">
    <link rel="stylesheet" href="../../static/css/shopping/shopping_cart.css">
    <link rel="stylesheet" href="../../static/css/shopping/print.css">
{% endblock %}

{#this is the checkout page for buyers to checkout their orders#}

{% block content %}

    <div class="shopping-cart-big-box">
        <div>
            <h1 style="text-align: center">Print Wishing List</h1>
            <div class="empty-space1"></div>

            <table class="print-table">
            <div style="background-color: pink;">ss</div>
                <thead>
                    <tr>
                        <th>Index</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Price</th>
                        <th>Number</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                {% for shop in cart_dict %}
                    <tr id="shopping-cart-seller">
                        <th colspan="7">Shop Name: {{ shop.username }}</th>
                    </tr>
{#                    for each item of the current shop in your basket#}
                    {% for item in cart_dict[shop] %}
                        <tr>
                            <td> {{ loop.index }} </td>
                            <td>
                                {{ item.name }}
                            </td>
                            <td class="index-item-image-box"><a
                                    href="{{ url_for("item.details", itemID=item.id) }}"><img
                                    class="index-item-image"
                                    src="{{ url_for('static', filename='uploaded_files/'+item.main_image_url) }}"
                                    value="Item Image"></a>
                            </td>
                            <td>￥{{ item.price }}</td>
                            <td class="sub-add-button">
                                <input disabled="disabled" type="text" class="number" value="{{ item.count }}">
                            </td>
                            <td>￥{{ item.price * item.count }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>

            {#            <table class="shopping-cart-box-table">#}
            {#                <thead>#}
            {#                <tr>#}
            {#                    <th class="index-item-image-box">Name</th>#}
            {#                    <th class="index-item-image-box">Image</th>#}
            {#                    <th>Price</th>#}
            {#                    <th class="number-margin">Number</th>#}
            {#                    <th>Total</th>#}
            {#                </tr>#}
            {#                </thead>#}
            {#                <tbody>#}
            {#                loop through shop of the shops which have your items in the basket#}
            {#                {% for shop in cart_dict %}#}
            {##}
            {#                    <tr id="shopping-cart-seller">#}
            {#                        <th colspan="7">Shop Name: {{ shop.username }}</th>#}
            {#                    </tr>#}
            {#                    for each item of the current shop in your basket#}
            {#                    {% for item in cart_dict[shop] %}#}
            {#                        <tr>#}
            {#                            <td>#}
            {#                                {{ item.name }}#}
            {#                            </td>#}
            {#                            <td class="index-item-image-box"><a#}
            {#                                    href="{{ url_for("item.details", itemID=item.id) }}"><img#}
            {#                                    class="index-item-image"#}
            {#                                    src="{{ url_for('static', filename='uploaded_files/'+item.main_image_url) }}"#}
            {#                                    value="Item Image"></a>#}
            {#                            </td>#}
            {#                            <td>{{ item.price }}</td>#}
            {#                            <td class="sub-add-button">#}
            {#                                <input disabled="disabled" type="text" class="number" value="{{ item.count }}">#}
            {#                            </td>#}
            {#                            <td>{{ item.price * item.count }}</td>#}
            {#                        </tr>#}
            {#                    {% endfor %}#}
            {#                {% endfor %}#}
            {#calculate the total price#}
            {#                <tr class="shopping-cart-seller">#}
            {#                    <th colspan="7" class="checkout-total-payment">Total Price: {{ total_price }}</th>#}
            {#                </tr>#}
            {#                </tbody>#}
            {#            </table>#}
            <div class="empty-space1"></div>
            <button><a href="#">Print</a></button>

        </div>
    </div>

{% endblock %}


{% block script %}
    <script src="../../static/js/shopping/print_cart.js"></script>
{% endblock %}