{% extends "/base/base.html" %}

{% block title %}
    Shopping
{% endblock %}
{% block style %}
    <style>

        table {
            width: 90%;
        }

    </style>
    <link rel="stylesheet" href="../../static/css/shopping/product_details.css">
{% endblock %}

{% block content %}

    <p><label>Item name:</label>{{ item.name }}</p>
    <p><label>Item price:</label>{{ item.price }}</p>
    <p><label>Item description:</label>{{ item.description }}</p>
    <div class="product-little-box">
        <div class="product-image-box">
            <img width="300" height="300"
                 src="{{ url_for('static', filename='uploaded_files/'+item.main_image_url) }}"
                 value="Item Image"/>
        </div>
        <div class="lf">
            <div class="pr-ti" style="margin-bottom:15px;">{{ item.name }}</div>
        </div>
        <br>
        <br>
        <div class="time-item">
            <span style=" float:left; padding-left:20px; font-size:16px; font-weight:bold;">
                Sales
            </span>
        </div>
    </div>




{% endblock %}