{% extends "/base/base.html" %}

{% block title %}
    Shopping
{% endblock %}
{% block style %}
    <!-- Link CSS -->
    <link rel="stylesheet" href="../../static/css/shopping/product_details.css">
    {#    referenced link#}
    <link rel="stylesheet" href="../../static/css/shopping/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/css/shopping/product_details_add.css">
{% endblock %}

{# display product details#}
{% block content %}
    <form action="{{ url_for("cart.add_to_cart") }}" method="post">
        {#     left box to display item image#}
        <div class="product-little-box">
            <div class="product-image-box">
                <div class="product-image-box-background-image-box">
                    <div class="product-image-box-background-image"></div>
                </div>
                <img class="product-image keep-wiggle-image"
                     src="{{ url_for('static', filename='uploaded_files/'+item.main_image_url) }}"
                     value="Item Image"/>
            </div>
            {#        right box to display product details #}
            <div class="product-details">
                <div class="product-title">
                    {{ item.name }}
                    <ul id="share">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div style="margin-bottom: 20px">

                </div>
                {#            on sale#}
                <div class="time-item">
                    <span class="item-sales">
                        On Sales
                    </span>
                </div>
                {#                price#}
                <div class="product-box">
                    <div class="product-number-box">
                        <b>Price：</b>￥
                        <div class="product-price-text anim-counter">{{ item.price }}</div>
                    </div>
                    <div class="product-information-box">
                        <div class="product-inner-box">
                            <div class="product-inner-inner-big-title">C</div>
                            <div class="product-inner-inner-box"><span>Sold: {{ item.sold_count }}</span></div>
                        </div>
                        <div class="product-inner-box">
                            <div class="product-inner-inner-big-title">S</div>
                            <div class="product-inner-inner-box">
                                <a href="{{ url_for("item.show_all_items", userid=shop.id) }}">
                                    Shop: {{ shop.username }}<span></span>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                {#            number#}
                <div class="product-box">
                    <div class="product-number-box">
                        <b>Number：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="number" value="1"
                                                                                         name="itemCount"
                                                                                         class="number-input"
                                                                                         width="10px" id="number-input"
                                                                                         placeholder="Enter Number">
                        </b>
                    </div>
                </div>
                {#            Inventory#}
                <div class="product-box">
                    <div>
                        <b class="product-des">Inventory：&nbsp;&nbsp;&nbsp;&nbsp;</b>
                        <span class="product-description-box" id="product-description-box">{{ item.inventory }}</span>
                    </div>
                </div>
                {#            product description#}
                <div class="product-box">
                    <div>
                        <b class="product-des">Description：</b>
                        <span class="product-description-box" id="product-description-box">{{ item.description }}</span>
                    </div>
                </div>
                <div class="product-action-buttons">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="hidden" name="itemID" value="{{ item.id }}">
                    {% if item.inventory <= 0 %}
                        <input class="shopping-cart-disabled" type="submit" disabled="disabled"
                               value="Add to Shopping Cart" name="submit">
                    {% else %}
                        <input class="shopping-cart" type="submit" value="Add to Shopping Cart" name="submit">
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
{% endblock %}