{% extends "/base/base.html" %}

{% block title %}
    Search
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="../../static/css/shopping/search.css">
    <link rel="stylesheet" href="../../static/css/item/manage.css">
    <link rel="stylesheet" href="../../static/css/shopping/index.css">
{% endblock %}

{# link to search by keywords#}

{% block content %}
    <div class="shopping-cart-big-box">
        <div id="shopping-cart-box">
            <p class="shopping-cart-box-head">
                {% if current_user.is_shopper %}
                    SELLER
                {% else %}
                    CUSTOMER
                {% endif %}
            </p>
            <h1>Search for Items</h1>
            <div class="empty-space1"></div>

            {# if there is no matching result #}
            {% if not have_res %}
                <h1 class="h2">Sorry, no matching result!</h1>
            {% else %}
                <h1 class="h2">Display you Search: {{ keyword }}</h1>
                <div class="empty-space"></div>
                 <div class="index-item-container">

            {% for item in items %}
                <div class="index-item">
                    <a href="{{ url_for("item.details", itemID=item.id) }}"> <img class="index-item-image"
                                                                                  src="{{ url_for('static', filename='uploaded_files/'+item.main_image_url) }}"
                                                                                  value="Item Image"></a>
                    <div class="index-item-text">
                        <p class="index-item-price">$ {{ item.price }}</p>
                        <a class="index-item-name"
                           href="{{ url_for("item.details", itemID=item.id) }}">{{ item.name }}</a>
                        <p class="index-item-inventory">{{ item.inventory }} in warehouse</p>
                        <p class="index-item-description">{{ item.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
            {% endif %}
        </div>
    </div>


{% endblock %}