{% extends "/base/base.html" %}

{% block title %}
    Shopping Cart
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="../../static/css/shopping/shopping_cart.css">
{% endblock %}

{% block content %}

    <div class="shopping-cart-big-box">
        <div id="shopping-cart-box">
            <p class="shopping-cart-box-head"> Customer </p>
            <h1>My Shopping Cart</h1>
            <br>
            <br>
            <table class="shopping-cart-box-table">
                <thead>
                <tr>
                    <th class="cancel-column">Select All</th>
                    <th class="index-item-image-box">Name</th>
                    <th class="index-item-image-box">Image</th>
                    <th>Price</th>
                    <th class="number-margin">Number</th>
                    <th>Total</th>
                    <th class="cancel-column">Cancel</th>
                </tr>
                </thead>
                <tbody>
                {% for shop in cart_dict %}

                    <tr id="shopping-cart-seller">
                        <th colspan="7">Shop Name: {{ shop.username }}</th>
                    </tr>
                    {% for item in cart_dict[shop] %}
                        <tr>
                            <th class="cancel-column"><input type="checkbox" checked="checked"></th>
                            <td>
                                {{ item.name }}
                            </td>
                            <td class="index-item-image-box"><a
                                    href="{{ url_for("item.details", itemID=item.id) }}"><img
                                    class="index-item-image"
                                    src="{{ url_for('static', filename='uploaded_files/'+item.main_image_url) }}"
                                    value="Item Image"></a>
                            </td>
                            <td>{{ item.price }}</td>
                            <td class="sub-add-button">
                                <form action="{{ url_for("cart.set_to_cart") }}" method="post">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                    <input type="hidden" name="itemID" value="{{ item.id }}">
                                    <input type="hidden" name="itemCount" value="{{ item.count - 1 }}">
                                    <input type="submit" value="-">
                                </form>
                                <input type="text" class="number" value="{{ item.count }}">
                                <form action="{{ url_for("cart.set_to_cart") }}" method="post">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                    <input type="hidden" name="itemID" value="{{ item.id }}">
                                    <input type="hidden" name="itemCount" value="{{ item.count + 1 }}">
                                    <input type="submit" value="+">
                                </form>
                            </td>
                            <td>{{ item.price * item.count }}</td>

                            <td>
                                <div class="product-action-buttons">
                                    <form action="{{ url_for("cart.remove_from_cart") }}" method="post">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                        <input type="hidden" name="itemID" value="{{ item.id }}">
                                        <input class="removal-items-cart" type="submit"
                                               value="Remove from Shopping Cart"
                                               name="submit">
                                    </form>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>

            </table>


        </div>
    </div>


    {#    <div class="shopping-cart-big-box">#}
    {#        <div id="shopping-cart-box">#}
    {#            <p class="shopping-cart-box-head"> Customer </p>#}
    {#            <h1>My Shopping Cart</h1>#}
    {#            <br>#}
    {#            <br>#}
    {#            <table class="shopping-cart-box-table">#}
    {#                <thead>#}
    {#                <tr>#}
    {#                    <th class="cancel-column">Select All</th>#}
    {#                    <th class="index-item-image-box">Image</th>#}
    {#                    <th>Price</th>#}
    {#                    <th class="number-margin">Number</th>#}
    {#                    <th>Total</th>#}
    {#                    <th class="cancel-column">Cancel</th>#}
    {#                </tr>#}
    {#                </thead>#}
    {#                <tbody>#}
    {#                {% for shop in cart_dict %}#}
    {##}
    {#                    <tr id="shopping-cart-seller">#}
    {#                        <th colspan="6">Shop Name: {{ shop.username }}</th>#}
    {#                    </tr>#}
    {#                    {% for item in cart_dict[shop] %}#}
    {#                    <tr>#}
    {#                        <th class="cancel-column"><input type="checkbox" checked="checked"></th>#}
    {#                        <td class="index-item-image-box"><a href="{{ url_for("item.details", itemID=item.id) }}"><img#}
    {#                                class="index-item-image"#}
    {#                                src="{{ url_for('static', filename='uploaded_files/'+item.main_image_url) }}"#}
    {#                                value="Item Image"></a>#}
    {#                        </td>#}
    {#                        <td>{{ item.price }}</td>#}
    {#                        <td class="sub-add-button">#}
    {#                            <button class="sub">#}
    {#                                -#}
    {#                            </button>#}
    {#                            <input type="text" class="number" value="{{ item.count }}">#}
    {#                            <button class="add">#}
    {#                                +#}
    {#                            </button>#}
    {#                        </td>#}
    {#                        <td>{{ item.price * item.count}}</td>#}
    {##}
    {#                        <td>#}
    {#                            <a href="{{ url_for("cart.remove_from_cart",itemID=item.id) }}">#}
    {#                                <div class="manage-items-modify incorrect">#}
    {#                                Remove#}
    {#                            </div>#}
    {#                            </a>#}
    {#                        </td>#}
    {#                    </tr>#}
    {#                {% endfor %}#}
    {#                {% endfor %}#}
    {#                </tbody>#}
    {##}
    {#            </table>#}
    {##}
    {##}
    {#        </div>#}
    {#    </div>#}

{% endblock %}