{% extends "/base/base.html" %}

{% block title %}
    Shopping Cart
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="../../static/css/shopping/shopping_cart.css">
{% endblock %}

{% block content %}

    <div class="shopping-cart-big-box">
        <div id="shopping-cart-box">
            <p class="shopping-cart-box-head"> Customer </p>
            <h1>My Shopping Cart</h1>
            <br>
            <br>
            <table class="shopping-cart-box-table">
                <thead>
                <tr>
                    <th class="cancel-column">Select All</th>
                    <th class="index-item-image-box">Image</th>
                    <th>Price</th>
                    <th class="number-margin">Number</th>
                    <th>Total</th>
                    <th class="cancel-column">Cancel</th>
                </tr>
                </thead>
                <tbody>
                {% for shop in cart_dict %}

                    <tr id="shopping-cart-seller">
                        <th colspan="6">Shop Name: {{ shop.username }}</th>
                    </tr>
                    {% for item in cart_dict[shop] %}
                    <tr>
                        <th class="cancel-column"><input type="checkbox" checked="checked"></th>
                        <td class="index-item-image-box"><a href="{{ url_for("item.details", itemID=item.id) }}"><img
                                class="index-item-image"
                                src="{{ url_for('static', filename='uploaded_files/'+item.main_image_url) }}"
                                value="Item Image"></a>
                        </td>
                        <td>{{ item.price }}</td>
                        <td class="sub-add-button">
                            <button class="sub">
                                -
                            </button>
                            <input type="text" class="number" value="{{ item.count }}">
                            <button class="add">
                                +
                            </button>
                        </td>
                        <td>{{ item.price * item.count}}</td>

                        <td>
                            <a href="{{ url_for("cart.remove_from_cart",itemID=item.id) }}">
                                <div class="manage-items-modify incorrect">
                                Remove
                            </div>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                {% endfor %}
{#                {% for i in shopping_cart_items %}#}
{#                    <tr>#}
{#                        <th class="cancel-column"><input type="checkbox" checked="checked"></th>#}
{#                        <td class="index-item-image-box"><a href="{{ url_for("item.details", itemID=i.id) }}"><img#}
{#                                class="index-item-image"#}
{#                                src="{{ url_for('static', filename='uploaded_files/'+i.main_image_url) }}"#}
{#                                value="Item Image"></a>#}
{#                        </td>#}
{#                        <td>{{ i.price }}</td>#}
{#                        <td class="sub-add-button">#}
{#                            <button class="sub">#}
{#                                -#}
{#                            </button>#}
{#                            <input type="text" class="number" value="1">#}
{#                            <button class="add">#}
{#                                +#}
{#                            </button>#}
{#                        </td>#}
{#                        <td>{{ i.price }}</td>#}
{##}
{#                        <td class="cancel-column">#}
{#                            <button class="incorrect"></button>#}
{#                        </td>#}
{#                    </tr>#}
{#                {% endfor %}#}
                {#                <tr>#}
                {#                    <th>ss</th>#}
                {#                    <td>ss</td>#}
                {#                    <td>ss</td>#}
                {#                    <td>ss</td>#}
                {#                    <td>ss</td>#}
                {#                    <td class="cancel-column">ss</td>#}
                {#                </tr>#}
                {#                <tr>#}
                {#                    <th>ss</th>#}
                {#                    <td>ss</td>#}
                {#                    <td>ss</td>#}
                {#                    <td>ss</td>#}
                {#                    <td>ss</td>#}
                {#                    <td class="cancel-column">ss</td>#}
                {#                </tr>#}
                {#                <tr>#}
                {#                    <th>ss</th>#}
                {#                    <td>ss</td>#}
                {#                    <td>ss</td>#}
                {#                    <td>ss</td>#}
                {#                    <td>ss</td>#}
                {#                    <td class="cancel-column">ss</td>#}
                {#                </tr>#}
                {#                <tr>#}
                {#                    <th>ss</th>#}
                {#                    <td>ss</td>#}
                {#                    <td>ss</td>#}
                {#                    <td>ss</td>#}
                {#                    <td>ss</td>#}
                {#                    <td class="cancel-column">ss</td>#}
                {#                </tr>#}
                {#                <tr>#}
                {#                    <th>ss</th>#}
                {#                    <td>ss</td>#}
                {#                    <td>ss</td>#}
                {#                    <td>ss</td>#}
                {#                    <td>ss</td>#}
                {#                    <td class="cancel-column">ss</td>#}
                {#                </tr>#}
                {#                <tr>#}
                {#                    <th>ss</th>#}
                {#                    <td>ss</td>#}
                {#                    <td>ss</td>#}
                {#                    <td>ss</td>#}
                {#                    <td>ss</td>#}
                {#                    <td class="cancel-column">ss</td>#}
                {#                </tr>#}
                {#                    <tr>#}
                {#                        <td colspan="2">#}
                {#                            <div class="add_button">#}
                {#                                {{ form.add_button }}#}
                {#                            </div>#}
                {#                        </td>#}
                {#                    </tr>#}
                </tbody>

            </table>


        </div>
    </div>

{% endblock %}