{% extends "/base/base.html" %}

{% block title %}
    Shopper All Items
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="../../static/css/shopping/shopper_all_items.css">
    <link rel="stylesheet" href="../../static/css/shopping/index.css">
    <script src="{{ url_for('static',filename='js/shopping/index.js') }}"></script>
{% endblock %}

{# this is where users view all items in a shop#}

{% block content %}
    <div class="empty-space1"></div>
    {#    this is the upper banner of the shop details page#}
    <div id="auto">
        <div class="index-upper">
            <img class="index-logo-img no-anim-image" src="../../static/image/shopping/img_4.png" alt="">
            <div class="index-search-box">
                <form action="{{ url_for("index.search") }}" method="GET" name="search">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input class="index-search-text" name="keyword" placeholder="Enter the product name"
                           value="" id="enter_product_name" onfocus="this.blur();">
                    <input class="index-search-submit-button" type="submit" value="">
                    <ul class="search-result-list">
                    </ul>
                </form>
            </div>
            {#            link to basket#}
            <div class="my-basket-box">
                <a class="index-basket-group" href="{{ url_for("cart.shopping_cart") }}">

                    <span class="index-basket-icon">
                        <p class="index-basket-text">My Shopping Cart</p>
                    <i class="fas fa-cart-arrow-down"></i>
                </span>
                </a>
            </div>
        </div>
    </div>


    <div class="empty-space1"></div>


    {# Display all items owned by this shop #}
    <div class="index-product-view-title">
        <h1 class="product-view-title-text">Buy Items of Shop: {{ username }}</h1>
    </div>
    <div class="empty-space1"></div>
    <div class="index-item-container-box">
        <div class="index-item-container">

            {% for item in items %}
                <div class="index-item">
                    <a href="{{ url_for("item.details", itemID=item.id) }}"> <img class="index-item-image"
                                                                                  src="{{ url_for('static', filename='uploaded_files/'+item.main_image_url) }}"
                                                                                  value="Item Image"></a>
                    <div class="index-item-text">
                        <p class="index-item-price">$ {{ item.price }}</p>
                        <a class="index-item-name"
                           href="{{ url_for("item.details", itemID=item.id) }}">{{ item.name }}</a>
                        <p class="index-item-inventory">{{ item.inventory }} in warehouse</p>
                        <p class="index-item-description">{{ item.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}