<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online shopping Site</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/shopping/style.css') }}">
{#    <link href="../css/nav2.css" type="text/css" rel="stylesheet"><!--藏品分类 -->#}
    <script type="text/javascript">
        const timeout = 10;
        let closeTimer = 0;
        let oldLayer = 0;

        // open hidden layer
        function layer_open(id) {
            // cancel the close timer
            cancel_close_timer();

            // close the old layer (hidden)
            if (oldLayer) oldLayer.style.visibility = 'hidden';

            // make new layer visible by displaying it
            oldLayer = document.getElementById(id);
            oldLayer.style.visibility = 'visible';

        }

        // close the layer by making it hidden
        function close_layer() {
            if (oldLayer) oldLayer.style.visibility = 'hidden';
        }

        // call the close timer
        function close_timer() {
            closeTimer = window.setTimeout(close_layer, timeout);
        }

        // cancel the close timer
        function cancel_close_timer() {
            if (closeTimer) {
                window.clearTimeout(closeTimer);
                closeTimer = null;
            }
        }

        // close the layer when the mouse moves away
        document.onclick = close_layer;

    </script>
</head>
<body>

<!-- this is the most upside area of the main page, containing the welcome and details navigation-->
<div class="title">
    <div class="center_title">
        <div class="welcome">
            Welcome to Online Shopping Site
        </div>
        <div class="title_box">
            <ul id="title_information">
                <li class="follow_us">
                    &nbsp;&nbsp;&nbsp;<a href="#" onmouseover="layer_open('layer')" onmouseout="close_timer()">Follow us</a>
                    <div id="layer" onmouseover="cancel_close_timer()" onmouseout="close_timer()">
                        <img src="{{ url_for('static',filename='image/shopping/wechat_xinxin.png') }}" width="150" height="200">
                    </div>
                </li>
                <li>|</li>
                <li class="title_shopping_cart">
                    &nbsp;&nbsp;&nbsp;<a href="#">Shopping Cart</a>
                </li>
                <li>|</li>
                <li class="VIP">
                    <a href="#">VIP Area</a>
                </li>
                <li>|</li>
                <li class="contact">
                    <a href="#">Contact us</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- this is the second upside area of the main page, containing the search input box and contact information-->
<div class="second_upside">
    <div class="second_upside_middle">
        <div class="logo">
            <img src="{{ url_for('static',filename='image/shopping/img.png') }}" alt="">
        </div>
        <div id="search">
            <form id="search_form" action="#" method="post">
                <div class="search_input">
                    <input class="search1" type="text" name="search" placeholder="Enter the keyword:">
                    <input type="submit" value="" class="search_submit">
                </div>
                <div class="search_details">
                    <a href="#">Clothes</a><span>|</span>
                    <a href="#">Electronics</a><span>|</span>
                    <a href="#">Commodity</a><span>|</span>
                    <a href="#">Office</a><span>|</span>
                    <a href="#">Cosmetics</a><span>|</span>
                    <a href="#">Food</a><span>|</span>
                    <a href="#">Health</a>
                </div>
            </form>
            <div class="contact_info_box">
                <div class="phone">
                    <p class="phone_desc">
                        Clients Service Telephone
                    </p>
                    <p class="telephone">
                        18225658712
                    </p>
                </div>
                <img class="wechat_logo" src="{{ url_for('static',filename='image/shopping/img_1.png') }}" alt="">
            </div>
        </div>
    </div>
</div>

<!-- this is the navigation part -->
<div class="navigation">
    <div class="types">
        <div class="classify">
            <div class="ld">
                    <img src="{{ url_for('static',filename='image/shopping/flbg.png') }}" width="21" height="15" class="lf"><span>All Categories</span>
            </div>
            <div class="nav_box">
                <a href="#">Clothes</a>
                <a href="#">Electronics</a>
                <a href="#">Commodity</a>
                <a href="#">Office</a>
                <a href="#">Cosmetics</a>
                <a href="#">Food</a>
                <a href="#">Health</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>