{#this is the page for the administrator to choose to view different tables in this system#}

{% extends "/base/base.html" %}

{% block title %}
    Admin Page
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="../../static/css/shopping/shopping_cart.css">
    <link rel="stylesheet" href="../../static/css/admin/view.css">
{% endblock %}

{% block content %}
    <div>
        <div>
            <div class="shopping-cart-big-box">
                <div id="shopping-cart-box">
                    <p class="shopping-cart-box-head"> Administrator </p>
                    <h1 id="capital">{{ table_name }} Visualization</h1>
                    <div class="empty-space1">
                    </div>
                    <p class="shopping-cart-box-head" id="shopping-cart-box-head-price"> Manage {{ table_name }}  </p>
                    <table class="shopping-cart-box-table">
                        <thead>
                        <tr class="shopping-cart-seller">
                            <th colspan="{{ size }}" style="padding: 18px"><a
                                    href="{{ url_for("admin.view_all_tables") }}"
                                    id="back-to-main"><span
                                    style="font-size: 30px">Back to Main Administration Page</span></a></th>
                        </tr>
                        <tr>
                            {% for x in columns %}
                                <th>{{ x }}</th>
                            {% endfor %}
                            {#                            <th>Delete</th>#}
                        </tr>
                        </thead>
                        {#                loop through shops#}
                        <tbody id="shopping-cart-box-tbody">
                        {% for j in range(0,num) %}
                            <tr class="shopping-cart-seller">
                                {% for i in range(0,size) %}
                                    {% if (data[j][i]~'').size == 2 %}
                                        <td colspan="8">
                                        <td class="index-item-image-box"><img
                                                class="index-item-image"
                                                src="{{ url_for('static', filename='uploaded_files/'+data[j][i]) }}"
                                                value="Item Image">
                                        </td>
                                    {% else %}
                                        <td>{{ data[j][i] ~ '' }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block jsfoot %}
    <script src="{{ url_for('static',filename='js/admin/data.js') }}"></script>
{% endblock %}