{% extends "/base/base.html" %}

{% block title %}
    Admin page
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="../../static/css/shopping/shopping_cart.css">
    <link rel="stylesheet" href="../../static/css/admin/view.css">
{% endblock %}

{% block content %}
    <div>
        <div class="shopping-cart-big-box">
            <div id="shopping-cart-box">
                <p class="shopping-cart-box-head"> Administrator </p>
                <h1>Administration Visualization</h1>
                <div class="empty-space1">

                </div>
                <p class="shopping-cart-box-head" id="shopping-cart-box-head-price"> Manage Database </p>
                <table class="shopping-cart-box-table">
                    <thead>
                    <tr>
                        {% for name in tables %}
                            <th style="height: 80px;"><a href="view/{{ name }}" id="change-to-white"
                                                         style="font-size: 20px; padding: 20px">{{ name }}</a>
                            </th>
                        {% endfor %}
                    </tr>
                    </thead>
                    {#                loop through shops#}
                    <tbody id="shopping-cart-box-tbody">
                    <tr style="width: 50px">
                        <td colspan="6" style="padding: 100px">
                            <div class="dialogue-message-box"
                                 style="margin-bottom: 10px;display: flex;justify-content: center;align-items: center;">
                                <div class="btn-back">
                                    <p>Are you sure to do that?</p>
                                    <button class="dialogue-message-yes-button" style="background: red">Yes</button>
                                    <button class="dialogue-message-no-button">No</button>
                                </div>
                                <button class="message-button-action"
                                        style="font-weight: bold;font-size: 20px;background: red;height: 80px;width: 260px; line-height: 40px">
                                    Clear
                                    Database
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block jsfoot %}
    <script src="{{ url_for('static',filename='js/admin/data.js') }}"></script>
{% endblock %}