/*add box container*/
#add-item-box {
    margin-top: 100px;
    padding: 20px;
    background: transparent;
    /*border-left: 30px solid deepskyblue;*/
    border-right: 1px solid #ddd;
    box-shadow: 0px 0px 16px #aaa;
    border-radius: 12px;
    padding: 75px 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 50%;
}

.add-item-big-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
}

.add_button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

/*style for the previous image for this product*/
.product-image {
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: 100%;
}

.product-image:hover {
    transform: scale(1.07);
}

.product-details {
    display: flex;
    min-width: 40%;
    flex-direction: column;
}

.td-hover:hover {
    border-color: orange;
}

.th-hover:hover {
    color: #ffc641;
    border-color: orange;
}

.invalid {
    border-color: red;
}

.valid {
    border-color: green;
}