.cart table td, .cart table th {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

h3 {
    display: flex;
    justify-content: center;
    padding: 30px;
}

#shopping-cart-box {
    background-color: #efefef;
    /*border-left: 30px solid #f4e139;*/
    border-right: 1px solid #ddd;
    box-shadow: 1px 1px 17px #AAAAAAF7;
    border-radius: 12px;
    padding: 75px 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 70%;
}

.shopping-cart-big-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    background: transparent;
}

.shopping-cart-box-head {
    color: #898787;
    padding: 9px;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 5px;
    border-bottom: 3px solid #e7e6e6;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.shopping-cart-box-head a:hover {
    color: #f0f0f0;
}

#shopping-cart-box {
    background: transparent;
}

#shopping-cart-box h1 {
    display: flex;
    align-items: flex-start;
    font-family: "Trebuchet MS", sans-serif;
    color: #f4e139;
    font-size: 56px;
    text-shadow: 1px 1px 1px #aaa;
}

#shopping-cart-box h2 {
    display: flex;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 34px;
    background-color: #f0f0f0;
    margin: 40px 0px 30px -40px;
    padding: 0px 40px;
    width: 100%;
    color: #a8a4a4;
    text-shadow: 2px 2px 2px #fff;
}

.manage-items-box-table {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.5em;
}

.manage-items-box-table th {
    padding: 16px;
    color: #fff;
    margin: 3px;
    min-width: 15%;
    background: transparent;
    border-radius: 5px;
    border-bottom: 3px solid #9ED929;
}

/*add gradient color effects*/
.manage-items-box-table th {
    color: #fff;
    border: 1px solid #93CE37;
    border-right: 3px solid #9ED929;
    padding: 1px 10px;
    background-color: #9DD929;
    background: -webkit-gradient(
            linear,
            left bottom,
            right top,
            color-stop(0.05, #62ac1e),
            color-stop(0.52, #9DD929),
            color-stop(0.89, #9ED929)
    );
    background: -moz-linear-gradient(
            left bottom,
            #62ac1e 5%,
            #9DD929 52%,
            #9ED929 89%
    );
    border-radius: 5px;
}

.manage-items-box-table td {
    color: #616060;
    padding: 8px;
    margin-left: 3px;
    border: 2px solid #e9f1e3;
    border-radius: 4px;
    justify-content: center;
    background-color: #DEF3CA;
}

#shopping-cart-box .add_button {
    margin-top: 20px;
    padding: 20px;
}

.shopping-cart-big-box .manage-items-box-table .cancel-column {
    padding: 2px;
}

/*the image style*/
.index-item-image {
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 200px;
}

/*the image style*/
.index-item-image:hover {
    transform: scale(1.05);
}

/*the style for the image in the td of table*/
.shopping-cart-big-box .manage-items-box-table .index-item-image-box:hover {
    border-color: orange;
}

/*the style for changing number values*/
.number {
    max-width: 30%;
    padding: 2px;
}


/*style for add items*/
#add-item-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 50%;
    margin-top: 100px;
    background-color: #efefef;
    /*border-left: 30px solid deepskyblue;*/
    border-right: 1px solid #dedada;
    box-shadow: 1px 1px 17px #b1adad;
    border-radius: 12px;
    padding: 75px 120px;
}

.add-item-big-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-item-box-head {
    display: flex;
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 4px;
    color: #888;
    border-bottom: 3px solid #f0f0f0;
    margin-bottom: 10px;
    padding: 10px;
}

.add-item-box-head a:hover {
    color: #f0f0f0;
}

#add-item-box h1 {
    display: flex;
    align-items: flex-start;
    font-family: "Trebuchet MS", sans-serif;
    color: deepskyblue;
    font-size: 56px;
}

#add-item-box h2 {
    color: #a5a0a0;
    width: 100%;
    display: flex;
    font-size: 34px;
    background-color: #eae6e6;
    font-family: "Trebuchet MS", sans-serif;
    margin: 45px 0px 35px -45px;
    padding: 1px 40px;
    clear: both;
    float: left;
}

.add-item-box-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: "Trebuchet MS", sans-serif;
    border-collapse: separate;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5em;
}

.add-item-box-table th {
    padding: 16px;
    color: #fff;
    border-bottom: 3px solid #9ED929;
    border-radius: 5px;
    min-width: 29%;
    margin: 2px;
}

/*add gradient color effects*/
.add-item-box-table th {
    color: #fff;
    background-color: #9DD929;
    border: 1px solid #93CE37;
    border-right: 3px solid #9ED929;
    padding: 0px 10px;
    background: -webkit-gradient(
            linear,
            left bottom,
            right top,
            color-stop(0.05, #9ED929FF),
            color-stop(0.52, #8BC642FF),
            color-stop(0.88, #7BC043FF)
    );
    background: -moz-linear-gradient(
            left bottom,
            #9ED929FF 2%,
            #8BC642FF 51%,
            #7BC043FF 87%
    );
    border-radius: 5px;
}

.add-item-box-table tfoot th {
    color: #666;
}

.add-item-box-table tbody td {
    padding: 10px;
    text-align: center;
    background-color: #dbf1c7;
    border: 2px solid #d8e0d2;
    border-radius: 3px;
    color: #616060;
    font-weight: bold;
}

.add_button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.manage-items-modify {
    padding: 5px;
    border-radius: 15px;
    font-weight: bold;
    color: #06b8d0;
    background-color: rgba(256, 256, 256, 0.5);
}

.manage-items-modify:hover {
    color: orange;
    border-color: #eddf4d;
}

a {
    text-decoration: none;
}

#shopping-cart-box .h2 {
    color: #06b8d0;
    font-size: 40px;
}

.button-default2 {
    height: 44px;
    padding: 5px;
    margin-right: 15px;
    background-image: linear-gradient(to right, #ddeb3b, #03a9f4, #f441a5, #e7cecc);
    border-radius: 5px;
    background-size: 390%;
    font-size: 18px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}

#add-new {
    font-size: 20px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}

#add-new:hover {
    color: #2eeace;
}

#padding-add-new {
    padding: 15px;
}
