{% extends "/base/base.html" %}

{% block style %}
    <link rel="stylesheet" href="../../static/css/user_infor/user_infor.css">
{% endblock %}
{#{% block nav %}#}
{#    <ul>#}
{#        <li><a  href="/">Home</a></li>#}
{#        <li><a  href="/item/add">Add</a></li>#}
{#        <li><a href="/about">About</a></li>#}
{#        <li><a  href="/login">Login</a></li>#}
{#        {% if current_user.is_authenticated %}#}
{#            <li><a class="active" href="/user">Hello, {{ current_user.username }}</a></li>#}
{#            <li><a href="/logout">logout</a></li>#}
{#        {% else %}#}
{#        {% endif %}#}
{#    </ul>#}
{#{% endblock %}#}


{% block content %}
    <div class="container">
        <h1 class="">Userinfo</h1>
        <div class="">
            <table>
                <tr>
                    <th>Username:</th>
                    <td>{{ current_user.username }}</td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td>{{ current_user.email }}</td>
                </tr>
            </table>

        </div>
    </div>

    <div class="add-item-big-box">
        <div id="add-item-box">
            <p class="add-item-box-head"> Seller or Customer</p>
            <h1>Personal Information</h1>
            <br><br>

            <div class="user-info-default">
                <div id="default_avatar">
                    <img src="../../static/image/user_infor/default_avatar.jpg" alt="">
                </div>
                <div id="empty">
                </div>
                <div id="default-info">
                    <table class="add-item-box-table">
                    <tbody>
                    <tr>
                        <th>User Name</th>
                        <td>{{ current_user.username }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ current_user.email }}</td>
                    </tr>
                    <tr>
                        <th>Identity</th>
                        <td>Customer or Seller</td>
                    </tr>
                    </tbody>

                </table>
                </div>

            </div>


        </div>
    </div>
{% endblock %}