{% extends "/base/base.html" %}

{% block style %}
    <link rel="stylesheet" href="../../static/css/user_infor/user_infor.css">
{% endblock %}


{% block content %}

    <div class="add-item-big-box">
        <div id="add-item-box">
            <p class="add-item-box-head"> Seller or Customer</p>
            <h1>Personal Information</h1>
            <br><br>

            <div class="user-info-default">
                <div id="default_avatar">
                    <img src="../../static/image/user_infor/default_avatar.jpg" alt="">
                </div>
                <div id="empty">
                </div>
                <div id="default-info">
                    <table class="add-item-box-table">
                        <tbody>
                        <tr>
                            <th>User Name</th>
                            <td>{{ current_user.username }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ current_user.email }}</td>
                        </tr>
                        <tr>
                            <th>Identity</th>
                            <td>
                                {% if current_user.is_shopper %}
                                    Seller
                                {% else %}
                                    Customer
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>

                    </table>
                </div>

            </div>
            <div class="user-info-detail">
                <div class="add-user-info">
                    <div class="set-avatar">
                        <form action="">
                            <table class="add-item-box-table">
                                <tbody>
                                <tr>
                                    <th>Current Avatar</th>
                                    <td><img src="../../static/image/user_infor/default_avatar.jpg" alt="">
                                        <input type="file" value="Select File">
                                    </td>
                                </tr>
                                <tr>
                                    <th>Phone Number</th>
                                    <td><input id="phone-number" type="text"
                                               placeholder="Enter your phone number"></td>
                                </tr>
                                <tr>
                                    <th>Gender</th>
                                    <td><input type="radio"><label value="male">&nbsp;Male</label>
                                        &nbsp; &nbsp; &nbsp; <input type="radio"><label
                                                value="female">&nbsp;Female</label></td>
                                </tr>
                                <tr>
                                    <th>Shopping Cart</th>
                                    <td><a class="user-shopping-cart" href="{{ url_for("cart.shopping_cart") }}">
                                        &nbsp; &nbsp;Click here to enter your shopping cart
                                    </a></td>
                                </tr>
                                </tbody>

                            </table>
                            <div class="add_button">
                                <input type="submit" value="Submit">
                            </div>
                        </form>

                    </div>
                </div>

            </div>


        </div>
    </div>
{% endblock %}