{% extends "/base/base.html" %}

{% block style %}
    <link rel="stylesheet" href="../../static/css/user_infor/user_infor.css">
{% endblock %}


{% block content %}

    <div class="add-item-big-box">
        <div id="add-item-box">
            <p class="add-item-box-head"> Seller or Customer</p>
            <h1>Personal Information</h1>
            <br><br>

            <div class="user-info-default">
                <div id="default_avatar">
                    <img src="../../{{ current_user.main_image_url }}" alt="">
                </div>
                <div id="empty">
                </div>
                <div id="default-info">
                    <table class="add-item-box-table">
                        <tbody>
                        <tr>
                            <th>User Name</th>
                            <td>{{ current_user.username }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ current_user.email }}</td>
                        </tr>
                        <tr>
                            <th>Identity</th>
                            <td>
                                {% if current_user.is_shopper %}
                                    Seller
                                {% else %}
                                    Customer
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>

                    </table>
                </div>

            </div>
            <div class="user-info-detail">
                <div class="add-user-info">
                    <div class="set-avatar">
                        <form action="" method="POST" enctype="multipart/form-data">
                            {{ form.csrf_token }}
                            <table class="add-item-box-table">
                                <tbody>
                                <tr>
                                    <th>Current Avatar</th>
                                    <td><img width="200px" height="200px" src="../../{{ current_user.main_image_url }}" alt="">
                                        {{ form.image_file }}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Username</th>
                                    <td>
{#                                        <input id="email-address-new" type="text" value="{{ current_user.username }}">#}
                                        {{ form.username(id="email-address-new", value=current_user.username) }}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Password</th>
                                    <td>
{#                                        <input id="email-address-new" type="text" value="">#}
                                        {{ form.password(id="email-address-new", value="") }}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>
{#                                        <input id="email-address-new" type="text"#}
{#                                               placeholder="Enter your email address"#}
{#                                               value="{{ current_user.email }}">#}
                                        {{ form.email(id="email-address-new", value=current_user.email) }}
                                    </td>
                                </tr>

                                <tr>
                                    <th>Shopping Cart</th>
                                    <td><a class="user-shopping-cart" href="{{ url_for("cart.shopping_cart") }}">
                                        &nbsp; &nbsp;Click here to enter your shopping cart
                                    </a></td>
                                </tr>
                                </tbody>

                            </table>
                            <div class="add_button">
{#                                <input type="submit" value="Submit">#}
                                {{ form.submit_button }}
                            </div>
                        </form>

                    </div>
                </div>

            </div>


        </div>
    </div>
{% endblock %}