{% extends "/base/base.html" %}

{% block title %}TasksMaster{% endblock %}

{% block content %}

    <h1>Task Master</h1>
    <table class="table table-striped">
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created.date() }}</td>
                <td>
                    <a href="/delete/{{ task.id }}">Delete</a>
                    <br>
                    <a href="/update/{{ task.id }}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <form action="/" method="post">
        {{ form.csrf_token }}
        <div class="form-inline">
            <label for="text1">Input your task</label>
            <input type="text" class="form-control" type="text" name="content" id="content">
            <button type="submit" class="btn btn-default">Add Task</button>
        </div>
    </form>

{% endblock %}